[2018-06-03 18:26] miczed commented on #292
Just add `"chart.js": "^2.7.2"` to your dependencies in your `package.json` file and then run `npm install`. If you just run `npm install chart.js` you'll get the 1.x version.

Maybe this should be mentioned somewhere in the docs.

[2018-06-04 13:44] Jebarson commented on #271
Obviously that's the way stacked graph works. I will give you an opportunity to review your comment and remove profanity before i report you to the moderators. We all are developers here and I am just another developer who happens to use RC 2.

[2018-06-04 20:07] flxwu commented on #271
okay

[2018-06-05 09:31] ChrisCooney commented on #99
I didn't get to the bottom of this one mate. We ended up moving to a different chart type.

[2018-06-06 06:26] kre1z0 opened #293 "version 2.7.2 animation break line chart"
**Line chart data**

`const dataSeasonality = {
            labels: labels ? labels : moment.monthsShort(),
            datasets: [
                {
                    fill: false,
                    borderColor: '#55c3ec',
                    pointBackgroundColor: '#55c3ec'
                    lineTension: 0,
                    borderWidth: 2,
                    data: values,

[2018-06-06 21:36] daru23 commented on #222
I have the same problem :(

[2018-06-06 21:37] daru23 commented on #203
I am facing the same issue, any suggestions?

[2018-06-06 21:40] mahdidavoodi7 commented on #222
@daru23
hey I realized what should I do
just set maintainAspectRatio True like this:
`<Bar
          data={data}
          width={100}
          height={50}
          options={{
            maintainAspectRatio: true
          }}
        />`
and it all be done

[2018-06-08 02:57] elmeister commented on #201
@DennisKo

[code]

[2018-06-08 08:16] yeahoffline commented on #292
just installed chart.js and got 2.7.2

yarn add react-chartjs-2 chart.js --save
...
info Direct dependencies
├─ chart.js@2.7.2
└─ react-chartjs-2@2.7.2
info All dependencies
├─ chart.js@2.7.2
├─ chartjs-color-string@0.5.0
├─ chartjs-color@2.2.0
└─ react-chartjs-2@2.7.2
✨  Done in 8.69s.

[2018-06-10 12:06] kshysius opened #294 "Tooltip position bug"
When you fix this bug?

<img width="207" alt="screen shot 2018-06-10 at 15 05 45" src="https://user-images.githubusercontent.com/6617084/41201387-d025a47c-6cbf-11e8-9073-818780ce6826.png">

[2018-06-10 22:56] eberkund commented on #254
I am encountering the same thing.

[2018-06-11 12:50] JHanLu commented on #150
@storesbuzz Your solution does not work for me.

[2018-06-11 13:58] dmaistern commented on #224
Hi,

It's an issue with moment.js and webpack. There is a whole thread about it
https://github.com/moment/moment/issues/1435

What worked for me is the following:

[2018-06-11 14:21] JHanLu commented on #150
[code]
Works for me!

[2018-06-14 10:39] nrogapp opened #295 "I've already installed react-chartjs-2 and chart.js but it's still webpackMissingModule."
Hello,
I try to install by `npm install react-chartjs-2 chart.js --save`.
and I got this log below.
[code]
I try to use it like
[code]

But when I try to run web I got this below...
[code]

[2018-06-15 04:58] nrogapp commented on #295
OK. It's my fail. I use docker. So, I need to install in virtual.
`docker-compose exec client /bin/sh` then `npm install react-chartjs-2 chart.js --save`

[2018-06-15 04:58] #295 closed

[2018-06-15 08:44] alexgbor opened #296 "Failed prop type: Invalid prop `data` supplied to `ChartComponent`."
Hello,
I'm getting the error in the title but I can't figure out the reason.

In my React app, I have this line of code inside the render():

`<Bar data={this.state.arduData} width={100} height={50} options={{ maintainAspectRatio: false }} />`

and also in my this.state.arduData I've stored an array like this one: `{
                    labels: ['a','b','c','d'],
                    datasets: {

[2018-06-19 01:50] JHanLu commented on #87
@naresh25ganji Try `this.refs.chart.chartInstance.chart.ctx`

[2018-06-19 07:25] MahmoudAwwad94 opened #297 "Custom Style and object structure for Label?"
First of all thank you so much for you guys for implement react wrapper for chartjs2.
My question can i have object as label and also can i have custom css for label so it can be something like that
<img width="507" alt="screen shot 2018-06-19 at 9 54 28 am" src="https://user-images.githubusercontent.com/24322359/41582755-20a26682-73ab-11e8-8ba5-ec953339e5d4.png">

[2018-06-19 15:59] gordal18 opened #298 "Width not working"
Hello,
<Radar width={300} height={300} data = {this.state.radar_data} options={{ maintainAspectRatio: false }}/>
I tried to set the width : 300px.
But not working.
Can you help me?

[2018-06-20 18:46] Parziphal commented on #155
In my case the solution provided by csi-lk wasn't working because `jest.mock()` must be outside the `describe()` function (for those using `describe`). Parhaps that's obvious but it wasn't for me.

[2018-06-20 20:49] luqiwang opened #299 "Legend onclick can not override chart onclick"
Hi,
I want trigger legend onclick function, but when I click legend, it seems to trigger the chart onclick function to setState. Is there any way to prevent chart onclick  when click the legend.
Thanks a lot!
`options = {legend: {
  display: true,
                    onClick: (e, item) => {console.log("Click Legend")}
                  },
                  events: ['click', 'mousemove'],

[2018-06-22 03:39] bayuars commented on #225
please try to add condition:
from:
`clear: function(chart) {
        chart.ctx.clearRect(0, 0, chart.width, chart.height);
    },
`

to
`clear: function(chart) {
       if(t.ctx != null)
                   chart.ctx.clearRect(0, 0, chart.width, chart.height);
    },
`

i hope this will help.
thank you.

[2018-06-22 05:07] ishansan38 opened #300 "Hide Lables in Line chart"
Hi, Is there a quick way to hide labels in the line chart since they make the chart look really messy, or someway we could show them vertical instead of horizontal?

Thanks for your help!

[2018-06-23 13:59] barryblando opened #301 "Line Chart Time Axes line goes Back. Weird."
- Chartjs - 2.7.2
- React Chartjs 2 - 2.7.2

![2018-06-23_21-47-59](https://user-images.githubusercontent.com/5582213/41810322-2b08797c-772f-11e8-8128-5098736ffb82.png)

[2018-06-25 09:39] khunghang16 commented on #301
hi, this is my code , but it is not show labelString? help me?
const options = {
    responsive: true,
    title: {
        display: true,
        text: 'Chart.js Line Chart'
    },
    tooltips: {
        mode: 'index',
        intersect: false,
    },
    hover: {
        mode: 'nearest',
        intersect: true
    },
    scales: {
        xAxes: [{
            display: true,
            scaleL

[2018-06-25 21:50] codeandproduce commented on #201
That method is not working for me with: 'chartjs-plugin-annotation'

import 'chartjs-plugin-annotation';
...

<Line
...
options={{
				maintainAspectRatio: false,
				lineTension: 0,
				...
				plugins:{
			                annotation: {
			 	              events: ["click"],
					      annotations: [
						  {
							  drawTime: "afterDatasetsDraw",
							  id: "hline",
							  type: "line",

[2018-06-25 22:35] alexgbor commented on #296
That was exactly my problem. Thanks man

[2018-06-25 22:36] #296 closed

[2018-06-27 22:57] walterqian commented on #233
Encountering the same error.

[2018-06-30 04:25] alampanji opened #304 "Thousand Separator"
How I add the thousand separator in the data label YAxes?

[2018-07-02 09:13] alexanderchoi opened #305 "To what extent can I style a graph component?"
Right now I just know how to change the height but would like to know more options such as changing the position of labels in a pie graph, changing the font, changing the on hover readout's style, etc.

[2018-07-04 14:58] altras commented on #291
Yup, I fail to understand how to use the lib at jsfiddle as well https://jsfiddle.net/05n7hogj/3/ :/ It was very easy with previous versions

[2018-07-04 19:19] AdrianoMoura commented on #217
What helped me was to add the option maintainAspectRatio and set as false

[code]

[2018-07-05 06:47] JHanLu opened #306 "Line Chart background gradient"
I am using Line Chart now and I need to display a gradient background just like this
![image](https://user-images.githubusercontent.com/26424473/42306074-2b553066-8060-11e8-8d55-966f71384558.png)
Then I find a chart.js2 demo in jsfiddle, and that's the way I wanted to display.
[chartjs2 demo](http://jsfiddle.net/4vobe59a/940/)
So I migrated it to react-chartjs version. Here's my code
[code]
And I

[2018-07-05 10:00] JHanLu commented on #306
Just found out 'fill' property in options. See [Area Charts](http://www.chartjs.org/docs/latest/charts/area.html)

[2018-07-05 10:00] #306 closed

[2018-07-09 08:17] samuelbigard opened #307 "One horizontal bar"
Hi,

I would like to do a chart, in one horizontal bar just like that :
![image](https://user-images.githubusercontent.com/25110039/42438715-1e32d740-8361-11e8-9102-1c196de50a12.png)

Is it possible with react chart js 2 ?
Which component and what are the options ?

Thanks

[2018-07-09 16:30] alexUXUI commented on #255
I am still getting this error

[2018-07-09 18:51] packetstracer opened #308 "React 16.4 warnings Unsafe lifecycle methods"
When updating to React 16.4 It throws warnings because of the use of lifecycle methods that are unsafe for async rendering.

ChartComponent is the one using componentWillMount

Thrown error is:

[code]

[2018-07-09 22:14] ohtanya commented on #288
Hey @alihesari did you ever figure this out? I'm having the same issue.

[2018-07-10 10:11] samuelbigard commented on #307
component HorizontalBar with options :
`
options: {
        scales: {
            xAxes: [{
                stacked: true
            }],
            yAxes: [{
                stacked: true
            }]
        }
    }
`

[2018-07-10 10:11] #307 closed

[2018-07-11 21:35] alihesari commented on #288
@ohtanya I removed react-chartjs-2 and use https://github.com/reactjs/react-chartjs

[2018-07-13 12:47] m00nst3r commented on #304
you can add your own formatting method in options for chart

[code]

[2018-07-14 19:15] #292 closed

[2018-07-14 19:16] jerairrest commented on #290
Can you please provide code examples of what you're having troubles with?

[2018-07-14 19:17] #304 closed

[2018-07-14 19:46] jerairrest commented on #275
This issue should be fixed by https://github.com/jerairrest/react-chartjs-2/pull/309 if you'e willing to take a look.

[2018-07-16 10:46] akx opened #311 "TS: datasetKeyProvider is erroneously required"
#281 added typing for the `datasetKeyProvider` prop, marking it as required.

However according to the readme, it shouldn't be, as

[2018-07-17 08:09] DigitalFlow commented on #275
Hey @jerairrest,

I will check it and give you feedback, thanks for tackling this :)

Kind Regards,
Florian

[2018-07-17 08:37] MayhemYDG commented on #311
I've got a fix for this in #310.
Just waiting for @jerairrest to review it now.

[2018-07-17 15:15] jerairrest commented on #291
Should be fixed in https://github.com/jerairrest/react-chartjs-2/releases/tag/2.7.4

[2018-07-17 15:15] #291 closed

[2018-07-17 15:15] jerairrest commented on #275
Should be fixed in https://github.com/jerairrest/react-chartjs-2/releases/tag/2.7.4

[2018-07-17 15:15] #275 closed

[2018-07-17 15:15] jerairrest commented on #277
Should be fixed in https://github.com/jerairrest/react-chartjs-2/releases/tag/2.7.4

[2018-07-18 14:16] OmarKhattab opened #312 "Hardcode the line chart tick values from 0 to a max value"
My line charts tick values are adjusting based on the data passed into it but I would like to know if i can pre-define tick values on the y axis for example 0 to 15000.

[2018-07-19 13:45] GoorLavi commented on #254
me too

[2018-07-19 18:45] janpaul123 commented on #60
This is still a problem for me. I also ended up using
[code]

[2018-07-20 18:31] lucasharada opened #313 "Cannot set multiple lineWidths to xAxes gridLines"
I'm trying to set a `lineWidth` for each `x` value. I tried to do as described on the [docs](http://www.chartjs.org/docs/latest/axes/styling.html#grid-line-configuration) (e.g. `[1,1,1,1,1,40,1,1,1,1,1,1]`), but doesn't work, making all gridLines for the `xAxis` disappear.

The same approach was used to change the color for each `x` value and it works perfectly.

Here what I tried:

[code]

[2018-07-25 09:45] sithuhlaing opened #314 "For Chart Plugins"
I would like to use chartjs-plugin-annotation on react, but i can't find solution

[2018-07-26 03:16] sithuhlaing opened #315 "How To Make Gradient Fill Area Line Chart"
I would like to fill the area on line chart with this code
`var gradientFill = ctx.createLinearGradient(500, 0, 100, 0);`
`gradientFill.addColorStop(0, "rgba(128, 182, 244, 0.6)");`
`gradientFill.addColorStop(1, "rgba(244, 144, 128, 0.6)");` but I can't know where cant i get ctx

[2018-07-26 14:59] thomasparsons commented on #262
@alphakennyn this solved my problem, thanks

this should be in the docs/examples

[2018-07-30 07:14] phuongthuan opened #316 "Display data values on react-chartjs-2"
How can we display data values?
I have read [this ](https://stackoverflow.com/questions/31631354/how-to-display-data-values-on-chart-js)solution. But it for Chartjs.
How can we implement this to react-chartjs-2 ??

[2018-07-31 06:03] Xero-0 commented on #90
@gor181 Thanks!

just using `key={Math.random()}` in my chartjs component did the trick.

[2018-08-01 08:52] sithuhlaing opened #317 ""datasetKeyProvider" as a prop that returns a unique key."
I crate a data set and put into the chart but after react component update, It is not update the graph and show error
`[react-chartjs-2] Warning: Each dataset needs a unique key. By default, the "label" property on each dataset is used. Alternatively, you may provide a "datasetKeyProvider" as a prop that returns a unique key.`

[2018-08-01 16:33] Ancinek commented on #147
Same here :( Does not seem to work

[2018-08-02 23:55] nathanburgess commented on #198
Any resolution for this? I'm running into the same issue and can't figure it out.

[2018-08-03 00:05] nathanburgess opened #318 "Warning: Failed prop type: Cannot read property 'line' of undefined"
Attempting to use this library with no luck. When I add the following code to one of my components...
[code]

I get this error message:

Has anyone come across this and figured out a solution?

I'm using:
[code]

[2018-08-05 09:05] razvanilin opened #320 "Individual labels for multiple Pie chart datasets are not showing"
I have this configuration:
[code]

The pie chart gets rendered correctly, but the labels that I set in each dataset are not showing up when hovering over the chart.

![screen shot 2018-08-05 at 11 02 45](https://user-images.githubusercontent.com/5342321/43684368-298ca0dc-989f-11e8-900b-78e29506f67e.png)

The tooltip should show `<label1>: true: 1913` right?

Found this SO link and it appears to be

[2018-08-05 19:53] Dev-Dipesh opened #321 "Trouble generating a Polar chart"
Errror:

[code]

Code:

[code]

[2018-08-07 18:27] #321 closed

[2018-08-09 02:17] mrh2v commented on #316
I can display data values on react-chartjs-2 !! I register a plugin (using for all chart) and custom code plugin and data for chart

Chart.plugins.register({
		id: "datalabels",
		afterDatasetsDraw: (chart, easing) => {
			if (!chart.data.showLabel) return null;
			const ctx = chart.ctx;
			chart.data.datasets.forEach((dataset, i) => {
				if (!chart.data || !chart.data.typeShow[dataset.type]) ret

[2018-08-13 09:43] chrisk8er commented on #77
+1

[2018-08-13 12:57] sameerjain commented on #318
Hello @nathanburgess have you got this sorted? I am having similar issue. Thanks

[2018-08-13 15:26] nathanburgess commented on #318
@sameerjain I didn’t mess with it too much. The trouble of fixing it wasn’t worth it. Instead I went with ChartKick for now, which works with no problems.

[2018-08-13 15:39] sameerjain commented on #318
Restarting node service fixed this for me, may be module doesn't compiled
well because I installed it while npm start was running. All good now.
Cheers

Keep it positive !!
Warm Regards,
Sameer Jain
+91-98281-23519
+91-98281-23510

On Mon, Aug 13, 2018 at 8:56 PM, Nathan Burgess <notifications@github.com>
wrote:

[2018-08-13 15:41] nathanburgess commented on #318
That didn’t work for me. I even tried deleting node_modules and clearing the cache, forcing everything to redownload and rebuild.

Thanks,
Nathan Burgess
On Aug 13, 2018, 08:39 -0700, AugustLeo <notifications@github.com>, wrote:

[2018-08-13 16:05] sameerjain commented on #318
I am using following version from both lib

[2018-08-13 20:13] OmarKhattab opened #322 "Hardcode y axis ticks"
![screen shot 2018-08-13 at 1 12 00 pm](https://user-images.githubusercontent.com/26516889/44055532-84b0248c-9efa-11e8-8ee5-1b449b24b15f.png)

How can I hardcode the y axis ticks to for example 0 - 12000.

Here is my react component.

[code]

[2018-08-15 12:14] vpicone commented on #176
stale

[2018-08-15 12:14] #176 closed

[2018-08-16 00:53] ptux commented on #203
I do not care about this anymore.
so, I close this.

[2018-08-16 00:53] #203 closed

[2018-08-16 17:35] abolajibisiriyu commented on #293
Hi @kre1z0 , I also have this issue, what i did to stop error was disable animation, i haven't found a way to make the animation to work.
`animation: false` in the chart options object.

[2018-08-22 19:37] albertpak opened #323 "[react-native] View config not found for name canvas"
[code]

Getting an error below with the following `render` ^^^:

[code]

[2018-08-25 13:13] bdwade100 commented on #286
I'm not sure if you're seeing the same issue that we recently saw. However, we also saw a crash when we toggled `datasets` on and off. We found out that this was due to creating **new** `datasets` with the same `dataset.data` from previous `datasets`.

When we created `datasets` without changing the `data` array and then toggled the `datasets`, the crashes went away.

From what I've read, adding/r

[2018-08-26 03:33] bdwade100 opened #324 "Re-using the same dataset in another chart (for example, in tabs) causes a failure"
If a chart uses a dataset from another chart (for example, in a tabbed UI), this can cause a failure.

See this [codepen ](https://codepen.io/bdwade/pen/JaGoeY)for an example. To make the failure occur, alternatively click the next "step" button at the top in order and then click the tab that is not showing. That is:
1. Click "Step 1"
2. Click "Tab 2"
3. Click "Step 2"
4. Click "Tab 1"
5. Click "S

[2018-08-27 14:03] jhammond2012 opened #326 "Using maintainAspectRatio does not seem to work."
I am trying to create a doughnut chart with a large portion (90%) cut out from the center. This is my code and I beleive it is right but I am not getting the expected result.
[code]
When this code is ran, I get a doughnut chart but with the default percentage cut from the center.

![screen shot 2018-08-27 at 10 01 32 am](https://user-images.githubusercontent.com/3857428/44664175-7d044380-a9e0-11e8

[2018-08-27 14:08] jhammond2012 commented on #326
`percentageInnerCutout ` has been changed to `cutoutPercentage` in version 2. Sorry guys.

[2018-08-27 14:08] #326 closed

[2018-08-31 01:53] elmeister commented on #217
We use ResponsiveReactGridLayout too and resizing works fine.
What about the underlying divs in the grid items, are they stretching fine?

[2018-08-31 06:22] ghost opened #328 "random data not working properly"
I have integrated campaign chart which display the random data but it's not working properly some time it doesn't update the data. I have used react-chartjs2 library in my react application. Here is my codesanbox link https://codesandbox.io/s/rrlpr2nxjm

[2018-08-31 10:29] apieceofbart commented on #286
@FilipAndersson245  You're absolutely right! Proper solution would be to deep clone `dataset` not just do shallow copy with spread operator.

[2018-08-31 18:39] ashutoshnjha opened #329 "Number format for Y-axis data"
I am Using Bar and  have number for data section which are shown against Y-axis.
How can I format the number display?
e.g For Y-axis when I have 2034 I want to display like 2,034.

[2018-08-31 19:10] ashutoshnjha commented on #329
I found the way using following:
 ticks: {
                                                callback: function(label, index, labels) {
                                                    return label.toLocaleString(navigator.language, { minimumFractionDigits: 0 });
                                                }
                                            }

[2018-08-31 19:10] #329 closed

[2018-09-03 11:55] Charlie91 opened #330 "How can I create new custom type of chart?"
I'm trying to realize [this script ](https://codepen.io/jordanwillis/pen/jBoppb?editors=1010) in react-chartjs-2 context.
As I understand, The main point of script above is the creating of new custom class and giving it special functionality.
In short, I need to realise something like it
[code]
But it'll be better if I could do React-component with the same sense.
How can I create my own class and

[2018-09-03 12:15] Charlie91 commented on #330
I've found [here](https://github.com/jerairrest/react-chartjs-2/blob/master/src/index.js) the thing I need.
If i could use the same syntax in my code or could import ChartComponent it will be the best solution.
`  <ChartComponent
        {...this.props}
        ref={ref => this.chartInstance = ref && ref.chartInstance}
        type='bar'
      />`

[2018-09-03 20:51] popeyeliew commented on #81
@kctann have you solve this problem? i can't seem to update the legend even after calling `generateLegend()`

[2018-09-03 21:06] popeyeliew commented on #81
@kctann are you able to solve this issue? i cant get it to work even after calling `generateLegend()`

[2018-09-04 08:48] #330 closed

[2018-09-05 08:53] youstartlabs commented on #257
same problem need help any solution on this???

[2018-09-06 02:55] pohsiu opened #331 "grid line disable"
how can I remove all borders of the BarChart,
I see no options could do that, ...

[2018-09-06 23:01] KennethChiu123 commented on #38
try
<Line data={data} width={200} height={200} options={{ maintainAspectRatio: false ,responsive:false }} />

[2018-09-07 01:19] kevinlucero opened #333 "Chart "line" tooltip style gone"
tooltip style gone when route is from component that have chartjs component and go to route that have chartjs line component

![test](https://user-images.githubusercontent.com/16267778/45193103-01778180-b27f-11e8-9f32-7f5b1c4f3f4c.PNG)

[2018-09-07 02:38] kevinlucero commented on #333
during coding I found out that the other chart specifically bar graph uses 'chartjs-plugin-datalabels' this package will allow bar graph to have a number on specific bar.

to make it short once you used  'chartjs-plugin-datalabels' package, you must
apply this to your options for all chart to prevent the error. photo is in above
plugins: {
        datalabels: {
            display: ()=>{return fal

[2018-09-07 04:58] domehead100 opened #334 "Serious resize issue if custom size is specified"
Whenever there is a resize of the canvas element, such as if the user resizes their browser window, the charts grow in vertical height.  Chart.js itself does not seem to have this issue.

To see an example, try the samples page, http://jerairrest.github.io/react-chartjs-2/, and watch the "Bar Example (custom size)" sample.  Each time you resize the browser window, the chart will grow in vertical h

[2018-09-07 05:12] domehead100 opened #336 "Improve "Chart.js object" section in usage instructions"
The section on "Charts.js object" shows registering an inline plugin in componentWillMount().  This is not a good practice as written, since if the component is mounted and unmounted later, a new (duplicate) plugin will be registered every time.  Also, componentWillMount can be triggered multiple times.  Finally, this lifecycle method is deprecated in React 17.

As a note, I'm using typescript and

[2018-09-07 06:56] domehead100 commented on #334
As a note, a simple workaround seems to be to not use the height prop at all but just set the height of the container and let the chart fill its container.  In my case, I'm resizing the div that is the parent of the canvas element, and it seems to work fine.

[2018-09-07 20:25] bagratinho opened #337 "[Line chart] X and Y axis and tooltip fonts are being set only after hovering the chart"
I'm trying to set a Google Font on the canvas, its embed in the separate css file. What happens is that the charts takes the default browser font at the initial rendering, and right font appears only after hovering on any chart point for tooltip to appear and then moving the mouse out of the chart.

See example: https://codesandbox.io/s/xpqvy2ojkw

[code]

[2018-09-07 20:30] bagratinho commented on #337
![awesomescreenshot-2018-09-07t20-27-45-379z](https://user-images.githubusercontent.com/3504419/45241673-b03db100-b2c3-11e8-9097-baa0d2415636.gif)

[2018-09-08 03:05] Tommy92708 commented on #171
Solution link is broken, can someone post the solution to this issue?

[2018-09-08 05:27] Slind14 opened #338 "Timeseries update animation"
Hi there,
how can we make use of this https://github.com/chartjs/Chart.js/pull/3399 ?
It is listening to array modifications like push, shift...
Since we are using react state I wonder how we can make this work.

[2018-09-11 09:09] abenchi commented on #308
Hello,
Any news about this issue?
Regards

[2018-09-11 18:40] buddyp450 commented on #305
Anything standard to chart.js's options can be passed in currently via the options object. However things modifying the canvas element are currently restricted as far as I can tell. Height and width are the only properties that actually make it to the canvas.

I'm not the maintainer but I'd say general questions should probably go on StackOverflow.

[2018-09-12 14:57] artemave commented on #283
Hey @FromZeroToCicero I am seeing the same thing. Did you manage to get around this in the end?

[2018-09-12 15:09] artemave commented on #283
Ok, my case was dumb: I had a `d.ts` file that was overwriting `chart.js` module.

[2018-09-12 16:29] falcofire opened #339 "Legend styling options with large array"
I am utilizing a doughnut chart for a dataset with a high volume of keys with legend position='left'. The default behavior for the legend seems to be to wrap keys into new columns. Is there any way to force a single column for the legend (ideally scrollable)?

[2018-09-12 19:32] MarcosRenato266 commented on #257
same here

[2018-09-13 11:10] nakamn opened #340 "not assignable to type"
Hi.
not assignable to type.
How can I solve it?

-----------------------------------------------------------------------------------------

[React + ts]
let options = {
  legend: {
    position:'top',
  },
};

<Pie data={data} height={150} width={200} options={options}/>

[Error.]
Type '{ data: { datasets: { data: number[]; backgroundColor: string[]; }[]; labels: string[]; }; height...' is not ass

[2018-09-13 21:32] SantiagoMoyano commented on #178
I've got the `padding` atribute inside `xAxes` just like you do, and it's working!

[2018-09-14 13:31] buddyp450 commented on #100
Would appreciate if someone with the ability to would tag this as needs help or needs investigation.

[2018-09-17 21:31] denisepen opened #341 "React-Chartjs-2: All Data Not Showing on The Chart"
I'm trying to create line charts using react-chartjs-2. I am getting the data from an api and rendering it to each chart during the componentWillMount phase. I know that I'm getting the correct data because I originally created the charts using Sparklines components and the charts were perfect. I decided to use Chartjs instead because of the ability to customize the charts.

The problem is that on

[2018-09-18 19:54] ivesdebruycker commented on #146
I believe this is (now?) possible by using the plugins property:
[code]
with plugin defined elsewhere, e.g.:
[code]

[2018-09-19 22:07] tmat06 commented on #240
+1

[2018-09-26 13:04] souuu opened #342 "How to add buttons to labels ?"
Hello,
I want to add buttons to the labels on chart.
Example :
<img width="449" alt="capture d ecran 2018-09-26 a 14 02 07" src="https://user-images.githubusercontent.com/17356470/46081671-fedcbd80-c194-11e8-9ec0-144eab61aeac.png">
Thank you !

[2018-09-26 14:41] gmkhussain commented on #230
Pass an **options** object in chart return structure

See code example:
[code]

[2018-09-26 14:42] gmkhussain commented on #56
Pass an **options** object in chart return structure

See code example:
[code]

[2018-09-26 17:36] ddcouples commented on #247
that is because ‘options.scales.xAxes.labels’ rewrite ‘data.labels’,so you also delete the labels in options and keep the labeled in data to makesure that this chart can changed when xAxes’s data change! I don’t know why it cover,maybe it is a bug...

[2018-09-27 14:58] nirajrajgor commented on #61
I think it's only happening with Line chart. I am using Pie chart and Line chart both. But, it is not working in Line chart.

[2018-09-28 16:21] LuisEgan opened #343 "Multiplate charts tooltip data.datasets[0].data problem"
I have 3 charts on my app and the data for the tooltips gets all mixed up, one chart gets the data from very next chart, and I know the data I'm passing is correct because the background colors, labels and everything else is correct, is only the data from the dataset that's not.

It **DOES** work in a certain order of the graphs.. here's the code:

On the render function:

In this order it works
[

[2018-10-03 07:17] FromZeroToCicero commented on #283
I just deleted everything that was outlined with red, changed the type to any and it now works. But I don't suggest doing that, should be nice to have a fix for this :D

[2018-10-04 04:32] devarashetty opened #344 "npm intall is showing errors"
`./util/has_lib.sh: line 31: pkg-config: command not found
gyp: Call to './util/has_lib.sh freetype' returned exit status 0 while in binding.gyp. while trying to load binding.gyp
gyp ERR! configure error
gyp ERR! stack Error: `gyp` failed with exit code: 1
gyp ERR! stack     at ChildProcess.onCpExit (/usr/local/lib/node_modules/npm/node_modules/node-gyp/lib/configure.js:336:16)
gyp ERR! stack

[2018-10-06 11:20] AoDev opened #345 "Please update to latest chart.js"
Many fixes are available on chart.js side.

Like an issue that prevents us from drawing small values:
https://github.com/chartjs/Chart.js/issues/5653

[2018-10-06 18:16] yairEO commented on #81
I wonder why one even need `generateLegend` since it doesn't even do any interaction with the chart (clicking on legend items won't toggle lines) so, why not simply construct your own legend and somehow bind events to toggle lines and save the trouble of all this "hacking", forcing `generateLegend` to work

[2018-10-06 18:44] yairEO commented on #3
Does this still work with the changes made to `ref` in recent React?

[2018-10-07 09:04] yairEO opened #346 "Why export as Smart Components?"
I am seeing from the [source code ](https://github.com/jerairrest/react-chartjs-2/blob/master/src/index.js#L278) that `Pie`, `Line` etc., are all defined as _smart components_ (`extends React.Component`)

That is not a good thing to do, since they really should be written as [dumb-components](https://medium.com/@thejasonfile/dumb-components-and-smart-components-e7b33a698d43).

Making a component *

[2018-10-07 09:28] #346 closed

[2018-10-08 20:03] sittmannkatia opened #347 "Control animation independently per dataset"
Is it possible to control/disable the animation of the chart per dataset? I have a bar chart that has two datasets: a dataset with a total amount and then a dataset with sub amounts. I want the animation to be like a "filling" of the total amount.

This is the animation I am looking for. I can achieve this animation by not having a label on each individual dataset, however, I get a console error f

[2018-10-10 13:01] tommy-dev commented on #81
To save other people pain, I will contribute back to the community. I got it to work with a more modern React approach using Typescript as well. You can remove the Typescript parts if you want.
I got this up in an hour-ish. I am using React 16's createRef() so make sure you got the latest React 16+ installed.

`import * as React from 'react'
import { Doughnut } from 'react-chartjs-2';
import { sum

[2018-10-12 13:01] higginni commented on #297
Looking for a solution to this as well. Any movement on it?

[2018-10-14 16:19] GregoryMender commented on #334
Also, experiencing this issue, Also, options for y-axis don't seem to do anything at all, it just fits in the container height in whatever the least expected way would  be.

[2018-10-15 21:21] retwedt commented on #334
Any update on this?  I am having the same infinite-growing loop issue, not really the effect I am going for.

[2018-10-17 23:14] terryma commented on #201
Any update on this? `chartjs-plugin-annotation` still doesn't work with the current version.

[2018-10-17 23:40] terryma commented on #201
Nvm this actually works, it just need an import inside the component `import "chartjs-plugin-annotation";`

[2018-10-18 00:03] wilrho commented on #320
Hi there,

Looks like you need to rename label to labels and put then in an array. Try this:

const data = {
    "labels": ["true", "false"],
    "datasets": [{
        "labels": ["Hum Notifications","Hum2"],
        "data": [1913, 136],
        "borderWidth": 2,
        "hoverBorderWidth": 3,
        "borderColor": "#1a7fa0",
        "backgroundColor": ["rgba(98, 154, 41, 0.48)", "rgba(248, 231,

[2018-10-18 00:27] spunbell opened #348 "How to display the legend text vertically?"
I have created a Pie Chart using this package and have some labels representing my data.

 `legend: {
                position: 'bottom',
                fullWidth: true,
                labels: {
                    boxWidth: 10
                }
  }`

I set these as my options so that the labels/legend would be below my pie chart as shown in the picture below:

![image](https://user-images.githu

[2018-10-18 09:54] karthiksagarmv commented on #317
I was bit confused as well, but then i just followed the raw meaning of the error.
I passed a function to datasetKeyProvider that returns a unique key and warning disappeared, boom !

Like this

`
datasetKeyProvider(){
     return Math.random();
}
<Line
        ...props
       datasetKeyProvider={this.datasetKeyProvider}
/>
`

[2018-10-18 17:14] caroldarski commented on #257
Hey 👋

I could make this work using the solution proposed in this thread:
https://github.com/chartjs/Chart.js/issues/3072

Where I needed to override the `Chart.elements.Rectangle.prototype.draw`, hope it helps!  😄

[2018-10-18 20:58] armenzg commented on #85
I have been having a similar issue: `TypeError: Cannot read property 'length' of null`
I've created a small repo to reproduce it.

Any suggestions?

Link to my branch: https://github.com/armenzg/react-chartjs-2-test/tree/testCase

STR:
[code]
Output:
[code]

[2018-10-18 20:59] armenzg opened #349 "Failing to run tests"
I have issues running `npm install` and `npm test`, however, I can run `npm start` without issues.

Failing to install:
[code]

Failing to run tests:
[code]

[2018-10-18 20:59] armenzg commented on #349
I'm running this on my Mac.

[2018-10-18 21:06] armenzg commented on #349
Installing cairo improve the situation when installing packages: `brew install cairo` [1].
I also switched my node version to 8 since there were a *lot* of deprecation warnings with node 10.

The test issues persist.

[1]
[code]

[2018-10-19 03:34] jerairrest commented on #349
Hey @armenzg

I'm glad you were able to figure out you needed canvas.

Can you please provide in detail some of the errors you are getting?

[2018-10-19 03:37] jerairrest commented on #345
chart.js is a peer dependency to this project. You should be able to update the package in your project.

[2018-10-19 03:38] jerairrest commented on #344
You'll need canvas installed on your computer to be able to `npm install` this project.

on mac I believe it's just `brew install canvas`

[2018-10-19 05:50] AoDev commented on #345
The problem is that they don't seem to respect semver. Chart.js has breaking changes in minor versions. Updating the peer dependency from let's say 2.3 to 2.7 means some things may be broken. https://github.com/chartjs/Chart.js/releases

[2018-10-19 12:35] armenzg commented on #349
You can see my original issue on the openning comment under "Failing to run tests:"

It seems that if I install packages with a specific version of node and then try to run with a different version of nodes the tests will not run.

I probably was switching between Node versions while I had not yet figured out that I needed cairo.

To fix this issue I was thinking of updating the README.md to say t

[2018-10-19 12:41] armenzg commented on #345
@AoDev you can specify a specific changeset from their repo if that would help you:
https://github.com/mozilla-frontend-infra/firefox-health-dashboard/commit/177ab0350918541fa1511e4223d360d852973e78#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

As per this issue, if I understand correctly, I don't think there's anything that can be done on the react-chartjs-2 side.

[2018-10-19 12:47] AoDev commented on #345
@armenzg
I think what should be done is to update the chart.js peer dependency to latest. This would need to make sure that the code is changed to accommodate breaking changes.

[2018-10-19 13:00] armenzg commented on #345
To force [the minimum chart.js version](https://github.com/jerairrest/react-chartjs-2/blob/master/package.json#L67)?

What would happen to people that don't want to or can't upgrade their Chart.js?

Is this issue more of a recommendation?

[2018-10-19 13:13] AoDev commented on #345
This would effectively create a breaking change in this package. So bump to 3.x.x. and people wouldn't have any problem. They can either adapt their code or update major.

This project is a wrapper on top of a library, if there is a breaking change in chart.js, it will usually lead to a breaking change for react-chartjs-2.

There are multiple problems right now:

- the dev dependency is `chartjs@2

[2018-10-19 22:31] conradkay opened #350 "Width is backwards."
I have some code which I have here: https://github.com/conradkay/myPoll/blob/master/client/src/poll/poll.tsx
If at line 52 you change the width to for example, 100, it will be huge, but at 500, it is small.

[2018-10-20 17:34] jerairrest commented on #345
I can  agree with following semver to keep up with Chart.js's crazy breaking change scheme. We can add a compatibility matrix to the README to ensure what major version people should use.

[2018-10-20 18:00] AoDev commented on #345
Thanks, I don't have much time for actual coding but if there is something else I can do, let me know.

I'll copy the list of breaking changes they had since 2.3.

**2.7.0**
[code]

**2.6.0**
[code]

**2.5.0**
[code]

**2.4.0**
[code]

[2018-10-20 18:02] AoDev commented on #345
Sometimes, I guess a breaking change on chartjs side, does not affect `react-chartjs-2`. So this compatibility matrix is a great idea : )

[2018-10-22 22:17] gj1118 commented on #267
@darewreck54 , @francisco4challenge , were you guys able to resolve this issue?  If yes, can you please share the knowledge?

Thanks

[2018-10-24 13:05] javaProgrammer44 commented on #134
Please add these two lines inside the angular.json file

"scripts": [
  "node_modules/chart.js/dist/Chart.js",
  "node_modules/hammerjs/hammer.min.js"
],

[2018-10-25 12:28] lucascnr commented on #339
Hi @falcofire,

I faced with this same problem. Have you found a solution for this?

[2018-10-26 14:17] viniciusfont commented on #201
@terryma How did you make it work?

[2018-10-27 17:11] rweller59 opened #351 "Support for nested pie (doughnuts) with definable data set radii"
I am trying to design a nested pie where I have control over the inner and outer radius of each data set. The only thing I've been able to successfully create is a nested pie which has all datasets of equal width. Can't find attribute that can control inner/outer radii independently

[2018-10-31 08:09] harshal-wani opened #353 "Donut cutout percentage (Inner radious) not working"
I'm trying to set percentage (Inner and outer radius) using:

Try 1:
options: {
      cutoutPercentage:0,
     }
Try 2:
<Doughnut data={data}  cutoutPercentage={80}/>

still, donut showing with default implementations as given in the example.

[2018-11-01 20:39] spkellydev commented on #353
@harshal-wani

[code]

[2018-11-01 22:06] Raju10100 commented on #201
It worked me if my options object for react-charts-2 look like this

        options={{
                          responsive:true,
                          annotation: {
                              annotations: [
                                  {
                                      // drawTime: "afterDatasetsDraw",
                                      // id: "hline",

[2018-11-06 15:19] NoFr1ends commented on #334
Having the same issue

[2018-11-06 15:39] StijnVh commented on #201
I got the annotations plugin up and running. Please ensure you are using the latest versions of the packages:

- chart.js: 2.7.3
- chartjs-plugin-annotation: 0.5.7
- react-chartjs-2": "2.7.4

When using chart.js version 2.7.2 it did not work (no error in console, but no line drawn/visible in the chart).

As pointer in earlier posts, you should also import the chartjs-plugin-annotation:µ
`import *

[2018-11-06 18:09] austinderek commented on #201
So we need to import `chartjs` even if we're using the `react-chart-js-2` wrapper?

[2018-11-06 21:18] austinderek commented on #201
I've installed the latest versions of the above packages, but still have no luck... Can anyone help with this??

[2018-11-07 08:37] NoFr1ends commented on #323
React Native is not a webbrowser and canvas doesn't exists there.
So react-chartjs-2 and chart.js aren't compatible with react-native

[2018-11-07 21:00] austinderek commented on #267
Need to grab the index in my dataset to link to specific URLs... Anyone solve this click event dilemma?

[2018-11-08 17:28] alonbl92456 opened #354 "chart js douhnat chart animation won't work"
Hey!
The on draw chart js animation isn't working when the chart is wrapped inside the main css class.
any work arounds ?

[2018-11-08 17:33] #354 closed

[2018-11-12 09:13] blockjon commented on #318
![image](https://user-images.githubusercontent.com/1198745/48337573-2dfda000-e618-11e8-9a48-046cbd8d9997.png)
After spending half a day trying to get this to work in a new watered down react app, I'm giving up

[2018-11-17 06:37] adithyamaheshb opened #355 "How to achieve horizontal scrollable chart components in react-chart-js-2?"
I am trying to create a horizontal x-axis scrollable bar chart. Are there any props or methods to achieve this? Please, help me out.

[2018-11-17 13:39] steeply commented on #334
+1

[2018-11-22 11:36] pfreedmanJG commented on #334
+1

[2018-11-28 05:35] jayaramsurya commented on #38
when i decrease the width the screen , the graph width can't change but height will change . I tired many solution nothing works

[2018-11-28 05:35] jayaramsurya commented on #38
when i decrease the width the screen , the graph width can't change but height will change . I tired many solution nothing works

[2018-11-28 12:46] tommy-dev commented on #336
I second this, having all the issues you are having atm.

[2018-11-30 06:53] bhautik11 opened #356 "How to generate 3D chart"
Is it possible to make 3D chart using react-charjs-2 with other 3rd party library.

[2018-12-05 02:31] DianPermana commented on #233
Same problem, anyone here can resolve? (angular7+win10+visualcode+chart (https://valor-software.com/ng2-charts/))

[2018-12-05 04:50] adithyamaheshb commented on #355
Thank you, for the suggestion!!

[2018-12-05 04:50] #355 closed

[2018-12-10 05:06] jleongbsmTech opened #357 "Hover tooltip triggers weird grouped bar chart rendering"
Hi this issue was made in chartjs [issue](https://github.com/chartjs/Chart.js/issues/5898)
where they suggested to post here
## Expected Behavior

This is made with chart js and reactjs
In a grouped bar chart with multiple datasets and custom tooltip, when you hover over a group expect the tooltip to show up and the chart does not rerender
Or it should rerender with the same data
When we hover ove

[2018-12-10 07:14] thanh121094 opened #358 "Scatter graph with string date x-Axis"
I followed react-chartjs-2 configure in [](https://github.com/jerairrest/react-chartjs-2/blob/master/example/src/components/scatter.js) and it's working for me. But as you can see, the data array is:
`data1: [{ x: 65, y: 75 },
        { x: 59, y: 49 },
        { x: 80, y: 90 },
        { x: 81, y: 29 },
        { x: 56, y: 36 },
        { x: 55, y: 25 },
        { x: 40, y: 18 },
      ],data2: [

[2018-12-12 14:55] juniorjp opened #359 "Piechart cutout percentage with value 0 is not working"
When I try to render a PieChart with a dataset of size 3 and 3 labels, for some reason it renders a Doughnut instead.

Then I tried to add cutoutPercentage to options
[code]
and render it:
[code]
But it has no effect. It still shows as a Doughnut instead.

I appreciate any help, thanks.

[2018-12-12 17:41] juniorjp commented on #359
I found out the problem, if we generate a second and third datasets with blank values we get a Doughnut and cutoutPercentage won't work. Is this behavior intended?

[2018-12-13 12:21] flavz27 opened #360 "TypeError: Cannot read property 'getBasePixel' of undefined"
I'm getting an error trying to plot two datasets on a line chart with 2 different y-axis. If I specify the different Y axis, i get a `TypeError: Cannot read property 'getBasePixel' of undefined` error.

Here is the render method of my component:

[code]

[2018-12-14 19:31] goranefbl commented on #334
+1. Anyone found a workaround? For some reason, if i dont specify size, it does not follow container size.

[2018-12-20 10:22] sanderdewijs opened #361 "Label position cannot be set via options for Doughnut chart"
First off, thanks for creating this component!

I discovered an issue where I wanted to postion the label of a doughnut chart below the chart. I first tried it via the options like this:

[code]
However this had no effect on the labels. I then tried setting the labels on the global defaults like:
defaults.global.legend.position = "bottom";

That did trigger the labels to be positioned at the botto

[2018-12-21 06:55] brianlaw033 commented on #334
add a overflow-y: scroll to the body fix the problem

[2018-12-21 07:44] alexanderchoi opened #362 "How can I set height of chart to 100%?"
Currently in the documentation there is way to set the height of the chart component to a specified pixel height via
[code]

How can I make it so that instead of using pixels as a value, I can set the chart height to 100% (Therefore the height of its parent container)?

[2018-12-21 10:49] souuu commented on #294
Any solution for this ?

[2018-12-21 17:23] souuu opened #363 "How to set automatic width to the bar chart"
Hello,
The problem is that I have too many labels sometimes (it depends on the request).
when I have more than 200 labels :
<img width="1412" alt="capture d ecran 2018-12-21 a 18 01 23" src="https://user-images.githubusercontent.com/17356470/50354930-5f3d8a00-054d-11e9-929b-f37af2a61e30.png">
only 3 labels :
<img width="1415" alt="capture d ecran 2018-12-21 a 18 02 31" src="https://user-images.git

[2018-12-22 17:48] ergunpp commented on #133
I have the problem that datalabels for example for omega 3 value is not displaying nicely. Is there an easy solution for that?

<img width="282" alt="screen shot 2018-12-22 at 20 45 18" src="https://user-images.githubusercontent.com/24900951/50377242-d39a2b00-062a-11e9-891f-76a3cd1cf017.png">

[2018-12-26 10:43] mapattacker commented on #267
same issue, _datasetIndex is wrong for me too for my multi-line chart...

[2018-12-26 11:00] mapattacker commented on #267
An alternative way is to grab the data from the tooltip, though this does not help for my specific use-case

[2018-12-27 05:49] jerairrest commented on #250
This is a known issue with chart.js.

https://github.com/jerairrest/react-chartjs-2/blob/master/src/index.js#L125-L128

I'm not entirely sure what we can do about this since it's the core of chart.js is making this change.

[2018-12-27 06:44] Slind14 commented on #338
Sorry @jerairrest it would be great if it could be reopened.

Basically chart.js supports real time updates for timeseries data. This means that it does a different animation of moving the line/bars on the x axis instead of the new data animation.
Chart.js is looking for array modification (push, pull...), unfortunately this is impossible to achieve due to the react state use.

[2018-12-27 06:54] jerairrest commented on #338
Interesting. This will require further investigation.

[2018-12-28 16:51] CWSites commented on #155
@csi-lk's solution worked for me, be sure to put it in your `setup-jest.js` file.

[2018-12-28 17:22] justkapoor commented on #86
@limiterCore , Hey I want to show label on my X-axis and Y-axis and also want to have prefix when we hover the point.
Can you please help me in that?

[2019-01-03 01:18] troygibb commented on #40
I'm still seeing an issue here--namely when I dynamically update my `yAxes`. For instance, if I had two yAxes in a prior config, then delete one, this line:

[code]

...retains the second yAxis. I can add the `redraw` prop as a workaround, although it seems like we may be misusing `configMerge` here?

[2019-01-04 19:15] schlattk commented on #155
@csi-lk @CWSites can't get that to work with create react app and enzyme - can you show an example of the setup-jest.js file and where it's located?

[2019-01-05 11:30] schlattk commented on #155
ok thanks that's what I had as well but doesn't have any effect, however I got it to work now by putting the line
jest.mock('react-chartjs-2', () => ({ Line: () => null }))
on top of the test file as per cheshire137

[2019-01-07 17:19] CWSites commented on #155
@schlattk do you have the `setup-jest.js` file setup properly in your `package.json` similar to this.

[code]

[2019-01-09 14:38] VLechuk-SoftServeInc commented on #246
Doesn't seem to work now(

[2019-01-09 16:12] Korvuss opened #364 "How to extend an existing chart?"
Im looking to currently change the draw() function of the doughnut to add rounded ends. I have managed to kinda get it working with a registered plugin but not for all my datasets. Is there a way to create my own version of the doughnut?

I know in pure JS i could use something like
[code]
But im not clear on how to actually extend and create my own chart to use that draw in react-chart-js.

[2019-01-10 11:16] moffsugita commented on #79
yes. It should be written.

or

[code]

option

[2019-01-10 14:31] SHolmes6 opened #365 "Redux with react-chartjs-2"
hey,
I'm using react-chartjs-2 with react-redux and everytime i get a lot of data from the server the page crashes.
I've traced it down to the data needing clone because the chart.js tries to update it without the data changing.
The only solution i found until now was to add cloneDeep to the props.data in the transformDataProp function.
Is it possible to avoid this clone in any way? tried to preve

[2019-01-11 11:32] JKLeGend commented on #133
https://github.com/jerairrest/react-chartjs-2/issues/201
https://chartjs-plugin-datalabels.netlify.com/guide/positioning.html#clamping
https://chartjs-plugin-datalabels.netlify.com/guide/positioning.html#overlap
if label is out of box, adding padding for layout works as well.
hope it helps~

[2019-01-11 11:37] techhysahil commented on #220
It's not working for me. Am i missing anything?
[code]

[2019-01-11 20:47] Jak3b0 commented on #246
Hi,

I'm trying to use the 'chartjs-plugin-stacked100' but can't make it work.

1. I installed the plugin using `yarn install chartjs-plugin-stacked100`
2. I'm importing it like this: `import 'chartjs-plugin-stacked100';`
3. I added the `plugins` section in the chart options like this:
[code]
4. And I'm passing the options to the `Line` chart like this:
[code]

Any idea?

[2019-01-14 15:31] schlattk commented on #155
Hi, yes but apparently setup files are not supported in create react app - according to the error message in terminal, it works fine in any case though!

[2019-01-14 16:20] CWSites commented on #155
@schlattk I see, I'm using https://github.com/timarney/react-app-rewired so that's probably where the difference is. Glad it's working for you! @csi-lk I believe this can be closed, unless you're wanting @jerairrest to build this into `react-chartjs-2`?

[2019-01-15 19:13] MacgyverMartins commented on #315
[code]

[2019-01-15 19:38] MacgyverMartins opened #366 "I can't set gradient color for pointBorderColor and pointBackgroundColor properties at Chart Line"
I can't set background gradient to ticks points when I use Line chart.
This is my code:
[code]
And this is the output:
<img width="752" alt="screen shot 2019-01-15 at 16 30 23" src="https://user-images.githubusercontent.com/4551671/51204716-001c2c80-18e3-11e9-9dd2-d498d6685d0a.png">

As you can see, the point background is not the same as the gradient of the line
But when I use only Chart.js lib i

[2019-01-16 11:41] souuu opened #367 "Align line chart at left margin in mixed chart?"
Hello,
When I add line chart in data, it's automatically aligned to centers according to existing bar chart.
How to align it to the left or to the right of the bar ?

Thank you.

[2019-01-17 05:51] gabrieltet commented on #318
I had the same problem which I fixed updating the chart.js dependency.

run `npm install chart.js@2.3.7 --save`

[2019-01-17 12:23] cention-sany commented on #334
I created a HOC like below:
[code]

Reference: https://www.chartjs.org/docs/latest/general/responsive.html#important-note

[2019-01-17 12:33] andrmalta commented on #287
Try to use this:
options = {
            maintainAspectRatio: false
}

It works for me.

[2019-01-17 12:35] andrmalta commented on #287
Try to use this:

options: {
       maintainAspectRatio: false
}

It worked for me.

[2019-01-17 22:12] tkeesling opened #368 "`aspectRatio` property is not being observed"
[code]

Chart components are not respecting the `aspectRatio` property within the `options` configuration.
Not setting default height and/or width on the canvas or its parent component.
The chart aspectRatio works in Codepen. https://codepen.io/anon/pen/ebaoVp?editors=0011
I brought the `react-chartjs-2` lib on my local machine and it doesn't work there either.
Options:
[code]

[2019-01-18 17:26] paulcredmond commented on #122
Where do you add `defaults.global.defaultFontFamily = 'your-font-family'`?

I added at the top of the component but it's not working for me.

[2019-01-18 17:39] tkeesling commented on #362
Do you want a specific aspect ratio?

[2019-01-18 17:42] tkeesling commented on #362
It will fill its parent container if the height and width are not set, null, or an empty string. In the package, the default width and height are 300 and 150 respectively so the aspect ratio _always_ maintains a 2:1 (which is a bug IMO). So try this:
[code]

[2019-01-18 17:50] tkeesling commented on #367
Can you show a screen shot?

[2019-01-18 19:55] reetak18 opened #369 "Bar component misses to show last bar in the histogram"
Bar Example (custom size) in http://jerairrest.github.io/react-chartjs-2/ does not show bar for July value, although on hovering it shows data. Same issue I face when I use Bar component in my project. It does not happen always but for some histograms

[2019-01-18 20:40] souuu commented on #367
I want to translate them to the extreme points of the bar like this
![translate](https://user-images.githubusercontent.com/17356470/51411697-1b986900-1b69-11e9-9ef6-6bbc1f35e927.png)
But the real goal is to colorize the space between the bars like this
<img width="909" alt="capture d ecran 2019-01-18 a 21 38 39" src="https://user-images.githubusercontent.com/17356470/51411840-a6796380-1b69-11e9-8a

[2019-01-18 21:50] spkellydev commented on #287
Any word on if this is going to happen? It'd be really awesome to have a class name on the canvas. Seems like it wouldn't been too difficult to add in

[2019-01-19 21:46] rtsscy opened #370 "line chart only shows first 2 datasets"
I'm trying to get data in realtime using sockets. But the line chart only displays the first two data even though all the data is coming in perfectly.

[2019-01-20 09:02] mohsenmahoski commented on #122
its worked for me:

    import React, { Component } from 'react';
    import {Line} from 'react-chartjs-2';
    import { defaults } from 'react-chartjs-2'
    import 'chartjs-plugin-datalabels';

    defaults.global.defaultColor = 'yourColor';
    defaults.global.defaultFontColor = 'yourColor';
    defaults.global.defaultFontFamily = 'yourFont';
    ....

    export class LineChart extends Compone

[2019-01-21 16:32] paulcredmond commented on #122
Thanks @mohsenmahoski we got it working.

[2019-01-21 21:51] rpearce commented on #308
Anybody tried fixing this or creating a PR for this? If not, want me to try?

[2019-01-22 09:22] snirp commented on #370
I had the same issue, but this was solved by providing an array of `labels` in the `data` object. This will populate the X-axes. Let me know if it works for you:

[code]

Can you answer me one thing? Does the chart animate the values? It does not for me.

[2019-01-22 22:48] dieguito12 commented on #85
+1

[2019-01-28 21:00] asia653 opened #371 "Mixed chart"
If you try to mix a bar chart into a line chart, it does not work
Mixing a line chart into a bar chart does work (as the examples show)

[2019-01-29 18:31] #359 closed

[2019-01-30 13:20] mdmasumbillah commented on #134
I faced same problem. How solved this?

Failed to compile.
./node_modules/react-chartjs-2/es/index.js
Module not found: Can't resolve 'chart.js'

[2019-01-30 13:22] mdmasumbillah commented on #134
@jerairrest If you know how to solve this. Please tell me.

[2019-01-31 03:24] jontravaille opened #372 "Border's not properly applied for HorizontalBar chart"
I've been trying out HorizontalBar chart using the sample data on Chart.js documentation page, but here's what I got.
![screen shot 2019-01-31 at 12 12 03 pm](https://user-images.githubusercontent.com/31975376/52028276-c0e01380-2551-11e9-95f7-cca866e59ea7.png)

The border's applied in a same way the original (vertical) bar does - border on left, top and right but not bottom. Pretty sure this is no

[2019-01-31 17:11] gj1118 commented on #369
@reetak18 , Can you please post a screenshot ? I am facing the same issue but with Line Graphs.

[2019-01-31 19:21] dspencer001 opened #373 "Accessibility"
Right now there's no way to pass aria roles or labels to the canvas element via props. I've worked around this by accessing the canvas element directly via a ref, but it would be nice if there was a way to set attributes on the canvas element via props.

Also, one of the more common ways to handle screen readers with canvas elements is to add fallback content inside of the canvas element. It would

[2019-02-01 18:47] SkryGun commented on #366
I have noticed that this issue is occurring when you use react-chartjs-2 with **chart.js@2.7.3**  see in this project in dependencies https://stackblitz.com/edit/react-chart-issue , If you will change to **chart.js@2.7.2** then it will work.

[2019-02-02 05:55] gowtham78 commented on #247
Hai Guys I am trying to apply above i got same error **TypeError: labels.slice is not a function**

import React from 'react';
import {Bar} from 'react-chartjs-2';

class MixExample extends React.Component {

render() {
const data = {

  datasets: [{
      label: 'Sales',
      type:'line',
      data: [51, 65, 40, 49, 60, 37, 40],
      fill: false,
      borderColor: '#EC932F',
      backgroundC

[2019-02-05 15:59] paulcredmond commented on #164
I'm having the same problem. I'm using `beforeDraw` and the ref is being lost when I browse to a different URL and come back to the one with the charts on it.

[2019-02-06 15:34] 4protete opened #375 "Bar doesn't render some data"
**Actual result:** Bar doesn't render some data if the last element of the dataset is equal prevElement+1
**Expected result:** All data from the dataset are displayed on the chart

**Here you can check the result:** https://codesandbox.io/s/0m6p3ymwl

**Screenshot:**
![image](https://user-images.githubusercontent.com/26570561/52352135-baabd480-2a34-11e9-9201-a3e09e1757a2.png)

[2019-02-07 09:32] Tankenstein commented on #365
@SHolmes6 Thank you, this error would've been hard to track down without this issue.

[2019-02-07 13:49] zilahir opened #376 "how to get intersection of 2 line charts?"
Hi!

Is it possible to get 2 chart's intersection point?

I have these 2 line charts, and I want to show a tooltips where they intersect. How can i achieve this?

It's not obvious from the docs.

<img width="799" alt="screen shot 2019-02-07 at 15 49 09" src="https://user-images.githubusercontent.com/6687149/52415547-f0fa5a00-2aef-11e9-936e-f570ec34c797.png">

[2019-02-07 13:53] zilahir commented on #376
or, as alternative solution, i could show a specific tooltip always, but i need to calculate which one based on where they are intersect. this would be possible if the intersection is not?

[2019-02-08 17:50] eudson commented on #363
@souuu  where you able to fix this?

[2019-02-08 18:00] souuu commented on #363
Hello,
Yes I have fixed this.
I have made a function in the component called calculateWidth()
which returns the width depending on the count of lables.
So after some tests I have defined manually what are the counts that make problems.

[code]

[code]

I am here for any question

[2019-02-08 20:28] eudson commented on #363
Does this make the chart to be horizontal scrollable? I will give a try

[2019-02-11 13:42] paulcredmond commented on #164
@ericmcgregor Did you ever find a solution?

[2019-02-11 16:19] paulcredmond commented on #146
@ivesdebruycker This works, but any idea why it's being called so many times? I have a component that renders 12 charts, and with this function in place on each one a `console.log()` reveals the function is called 12 X 40 times (480 in total). Very odd.

[2019-02-11 16:24] paulcredmond commented on #146
@ivesdebruycker I figured it out... each chart has 4 datasets, so it's running before each one. It's also doing the same for `beforeDraw` though. Be nice if there was a function that could run once for each chart instance.

[2019-02-12 16:09] Benetzz commented on #360
Same for me, but I'm using the Scatter Chart.

[2019-02-12 19:02] erezLieberman commented on #299
I have this issue too - any update about that?

[2019-02-12 20:47] luqiwang commented on #299
Sorry, I cannot find one.

On Tue, Feb 12, 2019 at 11:02 AM Erez Lieberman <notifications@github.com>
wrote:

[2019-02-14 17:12] kenshinman opened #379 "Combine scatter grap with line pgaph"
Is there a way to combine Scatter with Line graph?
Been on this all day.

I have this
[code]

and I am using the `<Scatter />` component.

Thanks

[2019-02-15 09:57] altrang opened #380 "Add a link to barChart and label"
Hello,
Is there a way to add link to a barChart and its label? I tried a couple of thing but nothing is working.

Thank you

[2019-02-15 13:24] Shtokins opened #381 "borderDash doesn't work for Bars"
It seems like borderDash doesn't work for Bar anymore. My example:
https://codesandbox.io/s/nnwl1kp7jl
As you can see label is dashed, but Bars' borders are still solid.
What could be wrong here?..

[2019-02-15 14:36] andreaci opened #382 "Stack bar - multi stack"
New feature proposal.
Multi stack like in this picture:

![2019-02-15_15-34-02](https://user-images.githubusercontent.com/8290389/52863112-3db8e300-3137-11e9-94ed-884a13352a62.png)

I already implemented in my fork:
https://github.com/andreaci/react-chartjs-2/commit/4c1f5b04eb332e68c1f6e24fc21f76acb0636d63

to use it, just add "stack: <number>" in the dataset structure

[2019-02-17 10:13] gj1118 opened #383 "Draw a vertical line"
Hi , I am interested to know if I can draw a vertical line parallel to the Y axis and perpendicular to the x axis when a point is hovered, something like https://jsfiddle.net/haq5k2mw/

Can you please let me know how this can be achieved ?

Thanks
Gagan

[2019-02-18 17:32] sadir opened #384 "Support for styled components"
Hi - do you have any plans to support styled components?

This is roughly what you would have to do: https://www.styled-components.com/docs/basics#styling-any-components

[2019-02-18 17:33] sadir commented on #384
Also thanks for supporting this library! 🥇

[2019-02-21 06:20] alvinjulian commented on #171
Solution link is still broken. Could someone post the solution again? Would appreciate that 👍

[2019-02-21 16:21] swordsreversed commented on #134
Don't install chartjs like I did! Make sure to:
[code]

https://www.npmjs.com/package/chart.js?activeTab=readme

[2019-02-22 16:25] thdk commented on #375
By default the y axes doesn't start at zero.
Two out of three of your data have a value of 3. Look on your y axes. It start at three so you don't see any bar for those two values.

You need to add the following on the same level as 'labels' and 'datasets':

[code]

[2019-02-23 04:10] appasaheb4 opened #385 "how to set style ?"

[2019-02-23 11:13] thdk commented on #370
See #375

[2019-02-24 04:44] developdeez opened #386 "Set steps to show integers instead of float"
What option can we use to not show 0.0 numbers? I only want whole numbers

[2019-03-01 12:16] noha1 commented on #77
+1

[2019-03-03 13:01] hienhuynhtm commented on #219
move `labels` from data as below to `chartOptions`:
const data = {
  labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'], **_// THIS LINE_**
  datasets: [{
    },{
    }]
};

chartOptions = {
	responsive: true,
	tooltips: {
		mode: 'label'
	},
	elements: {
		line: {
			fill: false
		}
	},
	scales: {
		xAxes: [
			{
				display: true,
				gridLines: {
					display: false
				},

[2019-03-06 21:23] redbmk commented on #151
@kumarharsh I agree - have you found a better way than using ReactDOM.render? I'm doing something like this:

[code]

[2019-03-06 21:25] redbmk commented on #151
@kumarharsh Oops, just saw this 😬

[2019-03-08 06:46] renetanikolova commented on #192
Btw, using redraw does not work for me - it redraws, yes, but the chart starts blinking - it is not really user-friendly. Is this only happen to me? I am thinking that it blinks because the state is changed more than once - but that is just my assumption.

[2019-03-08 08:14] carior commented on #247
thank you very much!

[2019-03-08 10:54] yoloOnTheBattlefield commented on #220
doesn't work for me either

[2019-03-11 12:49] #256 closed

[2019-03-12 14:23] Audrey-Ann commented on #220
Not working for me too :(

[2019-03-13 16:37] CesarPantoja commented on #360
Hi. Did you fix this issue? How?

[2019-03-13 16:40] flavz27 commented on #360
Unfortunately I haven't fixed it, I just didn't implement this feature in the end

[2019-03-14 10:35] LorisIX commented on #213
Hi @nickbae91, did you find a solution ? I tried this code but it still doesn't work :/ I really need the solution ! :) Thank you

[2019-03-18 05:03] kaungmyatlwin commented on #383
I was able to do this.

[code]

Reference: https://github.com/jerairrest/react-chartjs-2#chartjs-object

[2019-03-20 12:13] Rennzie commented on #201
@austinderek did you have any luck in the end with getting the annotation to render? I cannot for the life of me get mine to show up.

[2019-03-21 20:28] LuisAverhoff opened #387 "Why is my floating point dataset not getting rendered?"
Before delving into the problem at hand, let me explain what I'm trying to do. Right now I have a websocket server that sends data in the following form.

[code]
Initially the main data structure that recact-chartjs-2 expects looks like this:

[code]

In this current state, an empty chart is rendered. Now when I receive a message from my websocket, I simply push the data I receive in the data obj

[2019-03-21 20:42] LuisAverhoff commented on #387
Well I was just being stupid and not updating the state for the data obj. My bad, I'm closing the issue now,

[2019-03-21 20:42] #387 closed

[2019-03-22 08:24] sundaraj commented on #233
Guys,

The issue seems to be the path is wrong, Kindly go and check inside your node_modules folder before refer the same.

It works fine for me by adding below in to angular.json

 "scripts": ["./node_modules/chart.js/dist/chart.js"],

**Note:** The lateset version of ng2-charts being served from **dist** folder not from **src** forlder!

[2019-03-25 03:54] cujarrett commented on #334
I'm seeing this behavior as well. When I resize smaller the chart doesn't respond.

[2019-03-27 12:08] thepoosh opened #388 "stacked bar chart no longer working"
I saw https://github.com/jerairrest/react-chartjs-2/issues/220 that suggested adding both the `stack` attribute to each data column and `stacked: true` to the axes objects but for some reason this is broken for me

Using the same data in jsfiddle and the original chartjs library does show stacked bars but with this library it doesn't

My input data for this is:
[code]

The resulting chart with thi

[2019-03-27 17:27] bdwade100 opened #389 "npm version 2.7.5 does not contain latest changes"
Hi @jerairrest--

Thanks for including my pull request from a few days ago. Unfortunately, it doesn't look like the npm module for version 2.7.5 has the correct build files and folders (i.e., it looks like "npm run build" didn't work correctly).

Will you check?

Here's what I see when I run "npm install" for version 2.7.5:

- "dist" folder: Does not exist
- "es" folder: Contains changes to "src/i

[2019-03-27 17:42] saranchandru opened #390 "Couldn't able to get the index from x-axis label click"
Hi @jerairrest,
     Can you help to get the x-axis label click event, please?

Sample from the Chart JS library
https://codepen.io/jordanwillis/pen/gmdGGw

[2019-03-27 19:14] francisngo commented on #90
The `key={Math.random()}` gives the same effect as the `redraw` property.

[2019-03-28 03:35] jerairrest commented on #389
Sorry about that! Try 2.7.6

[2019-03-28 03:35] #389 closed

[2019-03-28 13:24] bdwade100 commented on #389
Looks great. Thanks for the quick fix!

[2019-03-28 15:29] pkellner opened #391 "In Horizontal Bar Chart Example, Not All 7 Records Showing"
In your own example, the bottom bar is missing.

Scroll down inhttp://jerairrest.github.io/react-chartjs-2/ "Horizontal Bar Example" and notice that there is no bar for July.  In my case, I had 10 bars and only the first 5 showed up.

[2019-03-28 15:31] pkellner commented on #106
The example is in your own example doc. I posted a new issue on this not seeing it here originally . http://jerairrest.github.io/react-chartjs-2/

[2019-04-01 06:13] ohadch commented on #360
I can confirm I have the exact same issue today, on Chart.js v2.8.0 on vanilla JS (no react) without solution yet.

[2019-04-03 13:57] FlorianGG commented on #360
I have the same issue

[2019-04-03 14:02] FlorianGG commented on #360
I had the same issue but I forgot to add the key scales in the options object. And for your problem you have 2 props options in you Line component.
[code]

[2019-04-05 08:06] thetinshusasi opened #392 "Unable to zoom or pan in React-chartsjs-2 charts"
Hi ,
I am using react-chartjs-2 in my project.
i have also imported
hammerjs, chartjs-plugin-zoom

However Zoom and span is  not working . Request you  to provide a working demo/ sample for this functionality and If possible could you provide an time series example.

[2019-04-09 20:22] JonathanSidego commented on #358
I'd also love to figure this out.

[2019-04-10 11:19] adberard opened #393 "Wrong typing of default object"
Hello here is what I found trying to change defaultFontFamily object
[code]

[2019-04-11 07:23] cuongn265 opened #394 "Misaligned version"
Hi, Chart.js library version are now in 2.8.0 but I found this we are using 2.6.0. Is there any plan to migrate to 2.8.0?

[2019-04-12 11:12] davie-robertson commented on #391
it needs to have beginAtZero set in the options, see https://www.chartjs.org/docs/latest/axes/cartesian/linear.html

[2019-04-12 11:17] davie-robertson commented on #388
I don't think you want/need stacked on the XAxis are you want stack them vertically on the YAxis

[2019-04-15 06:38] seoksanghwan opened #395 "Is there a way to change the bar background color for minus data?"
Is there a way to change the bar background color for minus data?

this is my code
[code]
I want the result to come out like the image below.
![Screen-Shot-2019-04-15-at-3 35 20-PM](https://user-images.githubusercontent.com/39520391/56111879-535e5380-5f94-11e9-8119-6a18f065ccc9.png)

[2019-04-15 06:38] seoksanghwan opened #396 "Is there a way to change the bar background color for minus data?"
Is there a way to change the bar background color for minus data?

this is my code
[code]
I want the result to come out like the image below.
![Screen-Shot-2019-04-15-at-3 35 20-PM](https://user-images.githubusercontent.com/39520391/56111879-535e5380-5f94-11e9-8119-6a18f065ccc9.png)

[2019-04-15 06:40] #396 closed

[2019-04-15 12:41] evgar commented on #77
+1

[2019-04-16 04:20] tomclague opened #397 "canvas-prebuilt dependency incompatible with Node 11, please upgrade"
I have been grappling with the problem described here https://github.com/node-gfx/node-canvas-prebuilt/issues/62 ; where earlier versions of canvas-prebuilt are incompatible with Node 11.

In my project, the dependency on "canvas-prebuilt": "^1.6.5-prerelease.1", comes from react-chartjs-2. Can you upgrade to use more recent please?

[2019-04-22 10:59] XevoLab commented on #364
I'm having the same issue. I tried to apply your solution @danielnmai without success. If I place the Chart.helpers.extend inside the class I get "Parsing error: Unexpected token" on the period between Chart and helpers (I've imported Chart from react-chartjs-2).
If I place it inside a componentDidMount or the constructor the chart appears to be working but without any element, even though the too

[2019-04-23 20:24] mbj36 opened #400 "How to Mix Scatter chart with Bar Chart"

[2019-04-24 08:08] GisliNielsen commented on #317
This is the improper way of doing it. In your datasets you should define a variable called "label" with a unique ID.

https://github.com/jerairrest/react-chartjs-2#working-with-multiple-datasets

[2019-04-25 19:39] bendavismines commented on #388
There should be a way to use a previous version (whatever is used in the fiddle) to get it to work right? Unfortunately I can't tell what the fiddle is using

[2019-04-26 09:13] mjrcmrma commented on #338
Any update here? I'm also not able to create a live data experience with react due to this.

[2019-04-30 09:45] cosmith commented on #388
This is working fine if you use the format as specified by chartjs (example here: view-source:https://www.chartjs.org/samples/latest/charts/bar/stacked.html)

You don't need `stack: x` in your dataset either. Just `stacked: true` in your `xAxes` and `yAxes`.

[2019-05-02 15:26] devstarman commented on #338
Same problem here. I'm currently updating data by setting state in componentWillReceiveProps(). Props are passed from the parent component each time it calls API. Unfortunately, this blocks animation to work at all.

When the initial state is loaded to component and no state update is performed animation works fine. What is perhaps interesting I can still update labels dynamically, but when trying

[2019-05-03 18:29] adithyamaheshb commented on #358
you need to have some kind of UNIX time stamp in the x value. We are using Moment and you can get the time stamp using
`Moment.utc(2018-12-10T06:14:30.508Z).valueOf()`

[2019-05-07 04:48] Chris502 commented on #388
So i ran into the same issue, and i resolved it by hijacking the component by using the ID

[code]

It seemed to be buggy when the `width` and `height` prop were set in the component via props

[2019-05-07 15:41] nickjryan95 opened #401 "Line Chart squishes to one line on re-render"
I am using this to display data over time in an application, and there are times the chart seems to collapse when the page re-renders. The chart goes from [looking like this](https://puu.sh/Dp5pm/cdc176d26c.png) to [looking like this](https://puu.sh/Dp5sx/9ecaf57b2a.png). The data isn't changing at all between the two.

The data object looks like this (where the variables labels, pred, actual, upp

[2019-05-13 21:31] waleedshkt commented on #105
Super cool @smcguinness !

[2019-05-14 01:56] waleedshkt opened #402 "Using OnHover Event?"
I am trying to replicate the following code in react-chartjs-2:
[code]

My goal is to get the x and y coords of hovered point. Any idea how to do this (in particular the getElementAtEvent function in onHover)?

[2019-05-14 15:14] JoshAudibert commented on #371
I'm having this issue as well.

[2019-05-14 16:04] Develer commented on #358
you don't need some special manipulation with `time`. Just add time parser to scales like this:
[code]

then you can use your date:
[code]

[2019-05-14 17:20] altruisticsoftware commented on #131
Definition is still missing here...

[2019-05-15 00:55] waleedshkt commented on #391
@pkellner,
As @davie-robertson said, try adding the following `option` configL

[code]

[2019-05-15 01:04] waleedshkt commented on #401
When you say page re-renders do you mean updating the chart data?

By the way, are you wrapping the chart in its own react component or simply adding the `<Line ... />` in your page containing other components?

[2019-05-15 01:15] waleedshkt commented on #401
I believe this your issue (_taken from offical docs_):

So try adding `label` in each of your datasets objects. It can be any value e.g 0, 1. They'll appear as legends in your plot. But since you have hidden the `legend`, it should be all good.

[2019-05-15 01:19] waleedshkt commented on #400
Check out [this official mix-chart example](https://github.com/jerairrest/react-chartjs-2/blob/master/example/src/components/mix.js)

[2019-05-15 01:22] waleedshkt commented on #392
Check out [this Stackoverflow issue](https://stackoverflow.com/questions/46346078/zoom-and-pan-in-react-chartjs-2)

Hope it helps.

[2019-05-15 01:24] waleedshkt commented on #385
For example?

[2019-05-15 01:26] waleedshkt commented on #383
@gj1118, if you are satisfied with the above solution, you can close this issue then :)

[2019-05-15 10:35] sarojkumar14 commented on #211
can you please share sample

[2019-05-15 15:22] waleedshkt commented on #195
@krishna444,
Check out [this Stackoverflow issue](https://stackoverflow.com/questions/46346078/zoom-and-pan-in-react-chartjs-2)

Hope it helps.

[2019-05-16 18:28] waleedshkt commented on #371
Check out the [solution](https://github.com/jerairrest/react-chartjs-2/issues/400#issuecomment-492467787) given in a similar issue

[2019-05-16 18:40] waleedshkt commented on #372
You can add the bottom border yourself.
[Here](https://stackoverflow.com/questions/48281600/chart-js-add-border-around-line-chart-and-yaxis-unit-title-s/50023933) is a similar issue which gets resoved by playing with y- and x-axis configuration in chart's options object.

Hope this helps

[2019-05-16 18:42] kyds3k commented on #347
@katiawheeler I'm trying to do something like this, did you find a solution?

[2019-05-16 18:55] waleedshkt commented on #376
There is no direct solution to get the intersecting point of plots made of discrete datasets.
You can however (in your simple case) can get it using for loop. But this will only give you estimate()or can exact point):

In your case, as one line has constant y value, run for loop for other line dataset and determine when y value of other line crosses that constant line y value.
Or to go extra mile

[2019-05-16 19:00] waleedshkt commented on #369
Set the following options:
[code]

[2019-05-16 19:13] waleedshkt commented on #367
Try playing with `maxBarThicknes` and `barThickness` to manually set the bar width in pixels as shown below:
[code]

And then you can offset your line dataset (x values) to the left along x-axis by using half of bar's width and subtracting it from each x value of line plot

[2019-05-17 10:12] yjkimjunior commented on #200
@aaayumi um how did you make it work? I'm doing exactly as the prop types expect and the chart remains vertical..

[code]

[2019-05-24 10:51] jbiddulph commented on #318
I too am having this problem, please help!

[2019-05-24 14:52] nugz1012 opened #404 "Width Keeps Growing"
Below is a test case I built using tabs from antd. The width goes on forever when switching to the chart tab. I want the chart to fill the column and not set an actual width. When loading in the sandbox, if the 1st tab is the default and you switch, the issue occurs. If you switch the default to be the chart tab and load it in, no issue occurs. Maybe I am not wrapping the chart correctly. Can anyo

[2019-05-27 09:17] AskAlexSharov opened #405 "Deprecated warning on React 16.9.0-alpha.0"
Next warning appeared:

[code]

[2019-05-28 15:31] tpbowden commented on #218
@jerairrest @Slind14 did you ever find a solution or workaround for this issue?

[2019-05-30 01:40] RenSolis commented on #348
Wha is the answer?

[2019-05-30 16:11] forrestblade opened #406 "Line Graph loses data on rerender inside Storybook"
I think I found an interesting bug, but hopefully there is an explanation and a fix.  Below are my datasets and my component.  I have also provided the source code for the component at the bottom of this issue.

[code]
[code]
<br>
So this part of a storybook that shows examples of different type of charts and graphs you can use with the component I built off of this library.  What's interesting is

[2019-05-30 20:28] kybishop commented on #362
The above didn't work for me, but the following did:

[code]

[2019-06-02 08:34] stbarillas commented on #233
I experienced the same issue, and solved it with the following

1.  Renaming "node_modules" to "node_modules_old"
2. Run npm install
3. Run npm install --save react
4. Run npm install --chart.js
5. Run npm install --react-chartjs-2

[2019-06-02 20:49] iki789 commented on #200
@yjkimjunior You do not define it in the `type` props of '<Bar  />'. You have to `import { HorizontalBar }` and use `<HorizontalBar />`

[2019-06-06 11:44] RoudyTarabay commented on #404
I think it's a bug when using maintainAspectRation:false. Keep it as true and it will work

[2019-06-12 05:16] Prasad-YS opened #407 "Any way to get Multiple Y-axis graph ?"
I need a line graph with two Y-axis sharing one X-axis.
Do we have feature here ? if yes how we can achieve that ?

[2019-06-12 05:34] Prasad-YS commented on #242
Any fix for this issue  ?

[2019-06-12 14:15] franverona commented on #100
The same is happening to me even using Redux.

[2019-06-12 22:49] mani-coder commented on #201
this worked for me finally.

[2019-06-13 01:01] TxusBlack commented on #323
🙁

[2019-06-13 09:09] Nutties93 opened #408 "Unable to use timeseries"
Hi, it seems like the current react-chartjs2 doesn't support timeseries? my code doesn't seem to work.

                    <Line
                        redraw={true}

                        data={{
                            // Labels should be Date objects
                            datasets: [{
                                label: 's1',
                                borderColor: 'blue',

[2019-06-13 16:15] zacherkkila opened #409 "X-Axis Labels Incorrect On Time Series Line Graph Under 2 weeks in length"
Hoping someone can help me figure out how to fix this strange behavior

With the following dataset (timespan longer than 2 weeks) everything works as planned

[code]

![image](https://user-images.githubusercontent.com/14079163/59449053-5af37a80-8dd4-11e9-8f65-cb1c950254e2.png)

However, if I adjust the data to the following (2 weeks or less). The x-axis labels convert over to time based and says "

[2019-06-13 16:21] zacherkkila commented on #408
I opened an issue (#409) for another reason but I was able to get the time series working by using the parser option, how I used the parser might give you some clues on how I was able to do it

[2019-06-14 04:40] Prasad-YS commented on #348
if you make position: 'right' or 'left' you will get vertically in right side or left side of the chart

[2019-06-17 19:57] rafaelbiten commented on #284
I'm trying the same but apparently we can only return `string` or `string[]` from the callback.

On our case we'd like to wrap part of the label in an html tag so we can give it a different colour, ie.: `My <span>label</span>`.

Is this possible/supported?

[2019-06-18 17:21] rafaelbiten commented on #286
Is there any plans to fix this? I wasn't expecting the library to mutate any data passed to it, so it took me a couple of hours to debug and understand what was going on.

[2019-06-21 10:22] Prasad-YS commented on #407
Achieved this using below code in "options" prop , hence closing the issue

scales: {
        xAxes: [{
            barPercentage: 0.5,
            barThickness: 22,
            maxBarThickness: 38,
            minBarLength: 18,

            ticks: {
                beginAtZero: false
            }
        }]
 ,

        yAxes: [
            {
                type: 'linear',
                displa

[2019-06-21 10:22] #407 closed

[2019-06-23 11:48] mahyalpr commented on #298
<div style={{width: '600px'}}>
<Radar width={300} height={300} data = {this.state.radar_data} options={{ maintainAspectRatio: false }}/>
</div>
it's work

[2019-06-23 13:06] jscheinhorn opened #411 "Attempting to update chart, doc is unclear"

[2019-06-25 04:06] dwade0o opened #412 "Hide legend per dataset"
Is it possible to add an attribute called 'hiddenLegend' to the dataset level to determine whether the legend should be shown? My project uses python to generate the line chart json data and pass it to react chartjs. Using the filter function in python doesn't seem to be obvious.

[2019-06-26 03:35] lmiller1990 commented on #81
For me it was I did:

[code]

I am using `react-chartjs-2` with TS. I needed to use `// @ts-ignore`

[2019-06-27 09:32] reaganscofield opened #413 "Draggable: is there any builtin method which can allow drag on Bar and Pie"
Draggable: is there any builtin method which can allow drag on Bar and Pie to drag out a bar chart

[2019-06-28 09:26] Nutties93 opened #414 "Hover over legend label and highlight the particular datasetIndex"
Hi, I'm currently facing a problem with react chartjs2. I would like to highlight a particular dataset when the mouse is hovered on the legend LABEL.  I was unable to capture events from clicking on the legend/axis using the react chartjs-2 functions. (getDatasetAtEvent, onElementsClick, getElementAtEvent). The code below works on the normal chartjs libary. Are there any equivalent way of doing so

[2019-06-28 14:17] CarlosYbere commented on #267
Well... this is a bit outdated topic, but I ran into this issue. I was trying to get a timestamp from the click event handler on a chart. My solution (hacky one) was to interpolate the value using information _xScale and _view from the element object.

const interpolate = ({ anchors, target }) => {
    const [p1, p2] = anchors;

    const deltaX = p2.x - p1.x;
    const deltaY = p2.y - p1.y;

[2019-07-01 11:07] freedomhunter opened #415 "Namespace '"ChartData"' no exported from 'chart.js' ????error"
I got this error when i am trying to use "react-chartjs-2" in React typescript. There's a file in react-chartjs-2 in node modules called " index.d.ts ". Chartdata is present there and it is imported from chart.js file but its showing all red.........Can anyone help me out with this issue??
![error](https://user-images.githubusercontent.com/32976566/60431993-be780780-9c1e-11e9-82fa-f29be67f0c62.png

[2019-07-04 09:09] RonenHong opened #416 "Can I set the range in radar chart?"
Dear,
radar chart show it from minimum value to maximum value in data
for example,
When I have data like data : [65, 59, 90, 81, 56, 55, 40]
I want to show them in range 0 to 100 not 40 to 90

Thanks you

[2019-07-04 18:40] jldork commented on #388
Was this ever resolved? @thepoosh @cosmith

I also cannot reproduce a stacked bar chart using the format specified by chartjs.

[2019-07-05 03:30] jiahyphenyee commented on #267
Hi, I also ran into the issue of getting a wrong _datasetIndex for my piechart with 2 datasets.

When I click on the inner chart, the _datasetIndex returned is still the one for the outer chart. Huge problem for my use case and I can't seem to fix it

[2019-07-08 19:10] kaizerroll commented on #416
You can explicitly set the range using the options prop. It should look something like this:

[code]

Hope this helps!

Source: https://stackoverflow.com/questions/39249722/set-min-max-and-number-of-steps-in-radar-chart-js#_=

[2019-07-09 01:32] RonenHong commented on #416
👍

[2019-07-09 01:32] #416 closed

[2019-07-10 12:43] arpit016 opened #417 "Line Chart data points text not getting hidden"
I am implementing LineChart in one of my project and the data points are shown along with points. I want the data to get hidden. I don't know why it's happening because the default behaviour is to not show the data point. I am attaching image for reference.

![Screenshot 2019-07-10 at 4 57 48 PM](https://user-images.githubusercontent.com/13781801/60969783-09400080-a33e-11e9-8f26-801188293df5.png)

[2019-07-10 13:23] #417 closed

[2019-07-11 01:13] yuyoux commented on #369
same

[2019-07-11 01:17] yuyoux commented on #369
https://github.com/jerairrest/react-chartjs-2/issues/262

[2019-07-12 17:10] kershnerd commented on #364
I was able to get this to work.  Make sure you include am import for the chart at the top:

```import { Chart } from "react-chartjs-2";```

[2019-07-12 17:15] kershnerd opened #418 "y-axis label issue"
My chart is correct, except for the Y-axis always showing 0.
![y-axis](https://user-images.githubusercontent.com/5776369/61146023-d442c380-a48d-11e9-8409-7043b5888027.png)

My options object is:

[code]

And my data is:
[code]

Here is my chart:
[code]

Any ideas what might be going on?

[2019-07-12 17:25] kershnerd commented on #418
Well that sucks... apparently the issue was with using the Brave browser.   Turning off the shields in the browser makes both the tool tips (an issue I didn't report) and this y-axis numbering issue work correctly.

[2019-07-12 17:25] #418 closed

[2019-07-12 20:28] hamidfzm commented on #40
Hey guys,
Here is a solution in updating chart options:
[code]
Just use ref and set options like I did. Then call update. Ezi Pizi :)

[2019-07-17 11:43] ravidsp opened #419 "Unable to add Click events to the tooltip"
I am unable to add Click event on the tooltip.
Is there a way?
When tooltip on the PieChart is clicked can it alert the tooltip title alone?
I don't want to use Legends!

[2019-07-17 17:07] tfrailey opened #420 "redraw bool property ignored - IE11 issue"
When pushing new data into components using IE11, I consistently get an error `SCRIPT438: Object doesn't support property or method 'values'` during the re-render.  In looking around, it appears this is within the destroyChart method `var datasets = Object.values(this.datasets);`. This method should only fire if the prop redraw is true (default is false), during componentDidUpdate (among other pla

[2019-07-17 17:28] aemc commented on #364
How do you replace this._ctx when using React hooks?

[2019-07-18 09:32] ravidsp opened #421 "Unable to implement click functionality"
https://jsfiddle.net/ha19ozqy/

how can the functionality be implemented in this package?

[2019-07-19 03:19] cherylfg opened #422 "Calling setState in animation:onComplete function makes legend items unclickable"
I have a line chart with a legend.  If I setState in the animation:onComplete function, the legend items are no longer clickable. They are clickable during the animation (I tested this by slowing down the animation duration to 3000).  But as soon as the animation is complete, the lines can no longer be hidden by clicking on the corresponding legend item.

Simplified code:
[code]

[2019-07-19 07:35] vijaykanthm28 commented on #68
How can I change backgroudColor using CSS variables like

backgroundColor: [`var(--main-primary-color-50)`, `var(--main-primary-color-20)`, `var(--main-primary-color-10)`];

[2019-07-24 14:20] titulus commented on #246
@Jak3b0

[`plugins`](https://www.chartjs.org/docs/latest/developers/plugins.html) - is not a part of [`options`](https://www.chartjs.org/docs/latest/getting-started/)

[2019-07-24 18:07] akshayrawat91 commented on #149
The text is displaying for my PieChart as well which I don't want. How can I prevent that?

[2019-07-25 04:45] palerdot commented on #149
@akshayrawat91 Sorry, I have no context on this ... Not the best person to answer

[2019-07-25 14:47] plotka commented on #394
Is there any news regarding this?

[2019-07-25 23:08] pofixifop commented on #364
doesn't seem like you need to. I was able to get it working in my functional components by simply including the code in my functional component's js

[2019-07-26 01:44] thiagoneves commented on #284
@rafaelbiten did you find a way to do that?

[2019-07-26 01:52] rafaelbiten commented on #284
No, I kept researching but apparently that isn't supported, unfortunately. An option would be to take the labels out of the chart, but I don't think that's a good solution, but still an option if you really need it. If I remember well, they were working on it though. I'd have to check again. If you figure out out, please let me know, ok?

[2019-07-26 09:07] mulraj208 commented on #388
<Bar data={barChartData} options={barChartOptions} />

const barChartData = {
  labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
  datasets: [
    {
      label: 'Active',
      backgroundColor: '#a88add',
      stack: '2',
      data: [30, 50, 20, 40, 50, 30, 20, 110],
    },
    {
      label: 'Banned',
      backgroundColor: '#0cc2aa',
      stack: '2',
      data: [10,

[2019-07-26 13:31] holzfelix opened #423 "Issue with bar and line chart."
I tried this example to get working:

https://github.com/jerairrest/react-chartjs-2/blob/master/example/src/components/mix.js

but got this error: https://codesandbox.io/embed/friendly-zhukovsky-rvf4l

![image](https://user-images.githubusercontent.com/6866699/61954909-3802db80-afba-11e9-8b4e-23f792ba0446.png)

[2019-07-26 14:50] pravin-d commented on #133
The link has changed to https://emn178.github.io/chartjs-plugin-labels/samples/demo/

[2019-07-30 13:05] scailbc commented on #371
Seems like a problem of Chart.js, see chartjs/Chart.js#4587.

Maybe it'r related to what they say in [chartjs docs](https://www.chartjs.org/docs/latest/charts/mixed.html):

[2019-07-30 14:14] apierr opened #424 "Box and Violin Plots"
There is **Chart.js Box Plot addons** available at this address https://github.com/datavisyn/chartjs-chart-box-and-violin-plot
I would like to use it via the following syntax:

[code]
Do you think that such an implementation is desirable and feasible?

[2019-08-03 10:31] drailanjohngss opened #425 "Align legends to the left"
Is there, a way to align the legends to the left? I know its possible, but how to do it on react?

[2019-08-07 13:23] TiagoFuelber commented on #77
+1

[2019-08-08 09:33] jbwebpro commented on #15
Your amazing!.

[2019-08-09 09:56] zubhav commented on #405
Update on this -  React 16.9 stable has been released and the warning appears as follows:

<img width="1163" alt="Screen Shot 2019-08-09 at 10 55 29" src="https://user-images.githubusercontent.com/9058689/62771096-4e1d9b00-ba94-11e9-8813-704999adaf36.png">

[2019-08-09 13:29] bharatgupta99 opened #427 "how to apply custom positioner to a chart?"
Basically, I want to access Chart.defaults.positioners to  make my custom tooltip to render on top left side.
As mentioned in chart.js documentation, customer positioner can be used to make this happen.

[2019-08-12 20:47] rajasi18 commented on #81
Can you give an example on codepen.

[2019-08-13 13:45] marycodes2 opened #428 "Stacking Legend Bars"
Wondering if you're able to stack the legend bars for a chart, like in this screenshot:

![Screen Shot 2019-08-13 at 9 36 03 AM](https://user-images.githubusercontent.com/39474777/62946595-fee6ab80-bdae-11e9-8e18-8d5c536a8b71.png)

Let me know - thanks!!

[2019-08-14 00:46] zebralight commented on #383
Is there a version of this that will allow me to draw a vertical line based on the index of the data point?  Much like this example: http://jsfiddle.net/dbyze2ga/14/ which I got from here: https://stackoverflow.com/questions/30256695/chart-js-drawing-an-arbitrary-vertical-line ? I can't seem to access `this.datasets` from the `draw` function as it shows in the example.

[2019-08-14 09:48] Lanboost commented on #409
Use displayFormats
https://www.chartjs.org/docs/latest/axes/cartesian/time.html#display-formats

[code]

[2019-08-14 23:55] ahoopes16 commented on #267
Hey, I don't know if anyone is still looking for this answer but I came across a nice way to do it today.

I had a stacked line chart and I needed to get the information from the exact data point that was clicked. The charts have a prop called `getElementAtEvent`, to which you can pass a function that will take an array holding the single element you click on, **not the array of every element in t

[2019-08-16 08:08] bke-daniel commented on #308
See #405 Someone provided a PR #426

[2019-08-17 18:08] nejcr commented on #90
I solved it using lodash  [_.cloneDeep](https://lodash.com/docs/4.17.15#cloneDeep) function when switching from one dataset to another.

[2019-08-18 17:14] yash-thakur commented on #428
Yes you can easily do it.

I was able to do the following example using the same:
<img width="248" alt="Screenshot 2019-08-18 at 10 43 16 PM" src="https://user-images.githubusercontent.com/14192483/63227931-ac234e80-c209-11e9-970f-e7fb7c74d063.png">

[2019-08-18 18:13] omrimor opened #430 "Plans on making Hooks version instead of Class component?"
Wondering if you have any plans (couldn't find an open PR) for a Hooks based implementation

[2019-08-19 09:09] zahid49 opened #431 "Can we show only first and last label (Bar chart)"
Is there any way, we can display only first and last label for Bar chart.
Something like:
![screenshot-app zeplin io-2019 08 19-13-51-18](https://user-images.githubusercontent.com/31693580/63253241-e41ea600-c28a-11e9-853e-c232dc660679.png)

Thanks in advance!

[2019-08-19 09:12] zahid49 opened #432 "show the value of the last bar on top"
Is there an option to show the value of the last bar on top, As in following the image
![screenshot-app zeplin io-2019 08 19-13-51-18](https://user-images.githubusercontent.com/31693580/63253445-4e374b00-c28b-11e9-8f5c-d016d67d66bb.png)

[2019-08-19 15:18] marycodes2 commented on #428
@yash-thakur thanks! - how were you able to achieve this? Could you share a code snippet?

[2019-08-21 07:43] sumit09211 opened #433 "unable to get the value of labels on click event"
I am facing a problem while getting the value of each label by clicking on it.
I have attached a screenshot in which I want to get the value(blue) on click of that point.

![issue](https://user-images.githubusercontent.com/21311043/63412370-42779000-c415-11e9-843f-a1f999ad9725.png)
![issue2](https://user-images.githubusercontent.com/21311043/63746912-7d6d3e00-c8c3-11e9-84e2-7ceb3fe1676c.png)

[2019-08-23 01:21] kellyclemons commented on #252
also wondering about this ^^^^^ using react/typescript with react-chartjs-2

[2019-08-23 14:16] tahv0 commented on #334
For me this didn't work. I had to put `!important` to the end of height value, then it did work.

[2019-08-27 05:24] yash-thakur commented on #428
Sorry for the late reply @marycodes2 . This was my approach to the above solution:

     const data = {
      labels: [
        'Reddit',
        'Facebook',
        'Twiiter'
      ],
      datasets: [{
        data: [1073111, 65551, 40020],
        backgroundColor: [
          '#416ab6',
          '#429ded',
          '#68efa6'
        ],
        hoverBackgroundColor: [
          '#416ab6',

[2019-08-27 22:48] GangadharG commented on #428
@yash-thakur, I tried exactly like above, legends are not displaying for me.

@marycodes2, Is it working for you?. If working, Please share your inputs on this.

[2019-08-29 08:32] bmakan commented on #90
I update the chartsjs instance directly. The data comes in via websocket. Inspired by: [chartsjs-plugin-streaming](https://github.com/nagix/chartjs-plugin-streaming#push-model-listening-based).

[code]

Not sure if it's correct way to do it performance wise.

[2019-08-30 05:42] yash-thakur commented on #428
@GangadharG I have used Tailwind CSS classes to make it look like the screenshot. You can use the css that you are using in your template or else go with inline CSS.

[2019-08-30 10:27] 0chris opened #435 "IE11 destroyChart Object.values"
I'm having issues in IE.
When I destroyChart is called and chartjs crashes due to Object.values incompatibility.

` ChartComponent.prototype.destroyChart = function destroyChart() {
    this.saveCurrentDatasets();
    var datasets = Object.values(this.datasets);
    this.chartInstance.config.data.datasets = datasets;
    this.chartInstance.destroy();
  };
`

[2019-09-01 14:48] reachtokish commented on #433
hey @sumit09211 could you share code snippet which you are using to get the value?

[2019-09-02 05:23] sumit09211 commented on #433
`<Radar
									data={radarData}
									options={{
										onClick: this.visitorsRadarDrilldownHandler,
										responsive: true,
									}}
								/>

visitorsRadarDrilldownHandler = (e, item) => {
		console.log(item)
};

radarData: {
    labels: ["blue", "green"],
    datasets: [
        {
            label: "blue",
            backgroundColor: "rgba(179,181,198,0)",
            data: [

[2019-09-03 14:50] mjodeh commented on #61
you can see it in https://jerairrest.github.io/react-chartjs-2/ when you resize the window with the mouse look at the bar chart how its height just goes out of control!

[2019-09-06 19:08] XopherDesign opened #437 "Use chartjs-plugin-trendline"
I can't seem to figure out how to use chartjs-plugin-trendline with this project, any tips?
What I've done so far is
npm i chartjs-plugin-trendline
import 'chartjs-plugin-trendline';
then added the
trendlineLinear: {
		style: "rgba(255,105,180, .8)",
		lineStyle: "solid",
		width: 2
	}
to the dataset, but no line appears
Thanks!

[2019-09-06 20:16] XopherDesign commented on #437
It started working after a bit, must of been a caching issue

[2019-09-06 20:16] #437 closed

[2019-09-07 09:31] monodioo commented on #364
Thank you @danielnmai . The code works for me but I have to paste the helpers part on top of the component's code

[2019-09-07 16:14] sanzhardanybayev opened #438 "Unintentional addition of _meta property to my objects"
I have a class that builds charts dynamically. It has **chartData** property that is **object** with the corresponding **datasets, labels** properties.

At a certain moment of App's execution, it renders **Chart** by dynamically importing appropriate chart and **copying chartData values** and sending them to the **Chart instance**.

The **Chart** renders perfectly but after render process ends it

[2019-09-07 22:14] #405 closed

[2019-09-07 22:20] #393 closed

[2019-09-10 14:51] MatinF commented on #438
I also seem to encounter this behavior in some cases - would be great to find a solution.

[2019-09-11 05:02] perumalprabhu commented on #15
could you please help me out while using Angular I need to pass the external array of data to populate at tooltip. If  I am using the above it is not reflecting inside the "options" keyword in Chart js

[2019-09-11 05:03] perumalprabhu commented on #15
It is not working it out is Angular 7 can you please help me out

[2019-09-11 05:54] qweluke commented on #81
Here is my approach without `generateLegend` method. Thanks to this, I also do not need to use React's `dangerouslySetInnerHTML` so I have full control on my legend.

I've used this approach to achieve `onClick` events on legend because with `dangerouslySetInnerHTML`.

[code]

[2019-09-11 11:39] monodioo commented on #364
___

In the case of having multiple charts in a same page, would you have problem that all of them share this same config of rounded bars?

[2019-09-13 19:52] CB721 opened #439 "Populate chart data with response from Axios GET request"
I am attempting to have the data on the chart populate based on the set of data the user selects i.e past 24-hours, past week, etc.  I am saving the data and the labels in state.  The labels update according to the selected time frame, but none of the data populates.  I have console logged the data (this.state.data.datasets[0].data[0]) and it is the correct data.

Here is my code:

[code]

[2019-09-14 11:28] zxl634 commented on #438
Mildly frustrating to say the least ...

[2019-09-14 12:06] akashrajkn commented on #15
@perumalprabhu maybe you should try angular based chartjs wrappers.

[2019-09-16 19:11] CB721 commented on #439
I solved this by removed the [] around this.state.totalSales.  I was essentially putting an array into another array.

[2019-09-16 19:11] #439 closed

[2019-09-17 03:33] SolaialaguB opened #440 "Showing tooltip on hover over axis labels and implementing ellipsis property for the axis labels"

[2019-09-17 11:00] NakedFool commented on #171
+1 - i also need this solution

[2019-09-19 11:46] skauffmann commented on #420
I had the same problem since Object.values is not supported by IE11.
You can add support for this method by using react-app-polyfill and adding the following lines to your index.js
import 'react-app-polyfill/ie11';
import 'react-app-polyfill/stable';

Full documentation: https://github.com/facebook/create-react-app/tree/master/packages/react-app-polyfill

[2019-09-22 10:51] jzyxyz opened #441 "Try to run Mix Chart Example, got error."
With the following version
    "react": "^16.9.0",
    "react-chartjs-2": "^2.8.0",
    "react-dom": "^16.9.0"

Uncaught TypeError: labels.slice is not a function
    at ChartElement.buildTicks (Chart.js:10753)
    at ChartElement.update (Chart.js:9954)
    at getMinimumBoxSize (Chart.js:6093)
    at Object.each (Chart.js:1772)
    at Object.update (Chart.js:6107)
    at Chart.updateLayout (Chart.

[2019-09-22 10:52] jzyxyz commented on #441
I cloned the repo, and `npm build` `npm start` it worked fine.
But it's not working in my project.

[2019-09-24 15:24] guifeliper commented on #3
It is working for me guys.
I am new to React, so I don't if I should use the createRef in that case, let me know if anyone has a better method.

My code is like that:

[code]

[code]

[2019-09-26 09:28] hay commented on #371
I solved this issue (combining scatter with line) by simply setting the type of the chart to line, then setting `showLine` to `false` in the 'scatter' dataset. Note that the `line` chart type also accepts data in the `x/y` format. Maybe not the most elegant solution, but it works.

[2019-09-26 23:18] cherylfg commented on #406
I ran into the same problem since my labels were generated as the result of a numerical computation and so could be duplicates after the numbers were rounded.  I solved it by adding my own datasetKeyProvider prop.   See documentation: https://github.com/jerairrest/react-chartjs-2#working-with-multiple-datasets.

I defined a datasetKeyProvider function where the key is a unique string that had been

[2019-09-27 12:18] bmakan commented on #40
Still not working. I am trying to dynamically adjust `suggestedMax`. I tried via setState and updating the Line component's options, and by using the chartsjs instance directly:
[code]

[2019-10-01 11:44] peazz opened #445 "How to disable labels and Y axis data view?"
I looked through examples but couldnt find anything there at all.

I need to remove labels and the Y axis from a Linechart, how can I do this?

[2019-10-04 18:44] DwCleb commented on #425
Try it, pass the prop ```legend={legend}```
[code]

[2019-10-06 22:39] OmarZayed77 commented on #106
I had the same issue and it was resolved by adding (stacked: true) to xAxis and yAxis (for example as shown below) inside the options object.
![image](https://user-images.githubusercontent.com/48209805/66277176-eb316000-e89a-11e9-81ff-0f479f0b853a.png)

[2019-10-08 06:22] keplerk commented on #364
There is no problem with that, i have 3 charts using the same config with different data sets, and it works fine.

[2019-10-12 14:14] MarlonX19 commented on #134
In case you're facing the issue

./node_modules/react-chartjs-2/es/index.js
Module not found: Can't resolve 'chart.js'

In React I solved this by using **npm i chart.js**

Apparently even though it's referred on package.json you have to install it individually

[2019-10-13 13:45] usama-asfar opened #446 "How to rotate the chart"
when browser resize to phone mode, I need to rotate the chart to stretch the whole screen, How can I able to that?
![Screenshot from 2019-10-13 19-13-04](https://user-images.githubusercontent.com/42825498/66716655-d8b0ac80-eded-11e9-8bb7-1b6082a9d3f6.png)

[2019-10-15 02:58] consciousnessdev opened #447 "[Features] add padding properties side of legend label"
I work with version 2.7.6, and need padding only for top side label of legend, but on this version was for each side of label, so when i set padding of label legend padding it affects all sides then left and right sides expand each other, i mean need adding padding properties like layout padding, some like this:

[code]

[2019-10-17 09:05] qkreltms commented on #441
@jzyxyz  Please show your full code.

[2019-10-17 17:54] snerks commented on #415
Have you also installed the `chart.js` package?

e.g:
`npm i -S chart.js`

[2019-10-18 10:23] Ravalika24 commented on #441
Even I have the same error. Tried with a line and a bar, and also tried with two bars. Got the same error just for the mock data-sets itself.
Below is my snippet

import React from 'react';

import {Doughnut, Bar, Line} from 'react-chartjs-2';

const data = {
  labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
  datasets: [{
    type: 'bar',
    label: 'First Visitor',

[2019-10-21 21:17] davidmwhynot commented on #441
Also having this issue. Examples work when you run them in storybook, do not work when I try to add them to my project.

[2019-10-23 07:34] cipacda opened #448 "React 17 - deprecation warning"
React 17 will deprecate componentWillMount.

With React 16.8.6 I am getting the following warning:

[2019-10-23 21:54] rastating commented on #391
Should anyone else come across this, the above options config is incorrect. The correct options to use is:

[code]

[2019-10-24 10:06] sanyam8182 opened #449 "Uncaught TypeError: Cannot read property 'skip' of undefined"
I am using chartjs for my React Application. The data is getting updated every second. If i give redraw as true then the Line chart redraws every second and it is not very pleasing, but if i give redraw as false, then the chart doesn't update for some time and then it give the above TypeError.
Below is the code that i am using.

getOptions(showLabelX, showLabelY) {
    return {
      responsive: t

[2019-10-24 13:39] velthune opened #450 "Custom Tooltip opacity always 1"
I need to have custom Tooltip and I design a react-component using hooks, check out the code:

[code]

Tooltip is rendered but it never disappear!

Have anyone any idea?

[2019-10-24 22:16] bwigs commented on #81
This is the approach we used for using a custom legend. We accessed the chartInstance through a ref to the component and got the legend items:
`ref.chartInstance.legend.legendItems`
example: https://codesandbox.io/s/react-chartjs-2-example-7fkno

[2019-10-25 10:28] MatinF opened #451 "State change causing issue in Doughnut chart (multiple)"
I'm having some trouble with a basic state change in my dashboard script.

My code fetches a set of data from a server and creates various displays of the data properties and content. The dashboard works fine when loaded the first time. It also works fine when I try to use a simple radio button to change the "periodHours" state variable, which controls what time period the dashboard reflects.

How

[2019-10-25 11:01] potapovDim opened #452 "dependencies"
Why "chart.js" package in devDependencies? Without chart.js this package does not work .

[2019-10-25 11:03] MatinF commented on #451
Update: I realized this was because I had given the identical label, `#devices`, to both charts in the multi-chart Doughnut. doh.

[2019-10-25 11:03] #451 closed

[2019-10-25 11:10] MatinF commented on #451
This was because I had the same label value (hence key) for both datasets.

[2019-10-26 05:05] internationalhouseofdonald commented on #449
I'm getting this same problem. The only way to update a component is from the state of the component.

[2019-10-28 12:39] JoeNyland commented on #448
You might want to make sure that you're using 2.8.0 of this package as the reference to `componentWillMount()` in `ChartComponent` has been removed in https://github.com/jerairrest/react-chartjs-2/pull/426.

[2019-10-28 13:00] phhoffmann commented on #201
@DennisKo did you get the funnel to work ? I can't make it appear on my project :/
I've tried some things that people said with the annotation plugin but couldn't make it work either..

[2019-11-01 11:47] mledwards commented on #287
Would like this too

[2019-11-05 15:08] rizkyario commented on #452
Because this package is a wrapper for chart.js

[2019-11-06 13:56] cristianmontesinos opened #455 "stacked bar chart"
is there any option to create this? https://www.chartjs.org/samples/latest/charts/bar/stacked.html

[2019-11-06 15:48] AndriyMartynyshyn commented on #446
Try to use [media query](https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries) and [CSS rotate](https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/rotate)

[2019-11-07 15:39] scottalan commented on #344
@jerairrest

Wanted to contribute, but also having issues installing packages.

Same error:
[code]
Do you happen to know if `goocanvas` will work?

![image](https://user-images.githubusercontent.com/247016/68403300-55f7e480-0142-11ea-8201-38858989cccf.png)

Thanks

[2019-11-12 09:18] #455 closed

[2019-11-12 15:49] mashaod opened #456 "Question: how to create Overlapping Bar Chart?"
![bar_chart](https://user-images.githubusercontent.com/30415534/68686800-df5d4b80-0574-11ea-8891-0ca6acf1df53.png)

[2019-11-12 20:40] Gazareth commented on #287
+1

[2019-11-13 10:05] mashaod commented on #456
decided in https://github.com/chartjs/Chart.js/issues/6732

[2019-11-13 10:05] #456 closed

[2019-11-15 14:16] utkarsh1510 commented on #259
gg

[2019-11-21 05:10] benmccann opened #457 "Chart.js 3.0"
Hi, we're working on Chart.js 3.0. I've sent https://github.com/chartjs/Chart.js/pull/6778 in order to simplify the code for this project. Please try it out and let me know if it's sufficient or other changes would be required to avoid workarounds such as the one below:

https://github.com/jerairrest/react-chartjs-2/blob/d80f5881504460f94adb30b2813bcc67e328d2bb/src/index.js#L126

[2019-11-21 20:07] timwsuccess81 commented on #259
@utkarsh1510 You can hide the horizontal lines by adding the following to the yAxes property:

 gridLines: {
              drawOnChartArea: false
   }

[2019-11-23 01:10] JeremyShubert commented on #100
Anyone have a solution to this?  Having the same issue.

[2019-11-27 10:09] Ashvin09 commented on #288
Put <Doughnut data={chart1} /> inside if condition

[2019-11-27 16:54] DrRek opened #458 "Force showing animation even if data are the same"
Hi,
In my application the user has the ability to select a value from a drop-down, after that an api call is triggered and the result is shown into the pie table.
If the result has no value i set the pie to a default value: `data: [0] label: ['no results']`

The problem is that if an user has first selected an item with no results and then select another item from the drop-down and it has no resul

[2019-11-28 22:54] jerairrest commented on #457
Hey Ben!

I'm curious what your thoughts are about making a "react-chartjs-3" instead of creating a major version bump of this package. This would allow the naming convention to continue.

[2019-11-29 06:16] Pringels commented on #452
This was added in the 2.x update: https://github.com/jerairrest/react-chartjs-2#update-to-2x

[2019-11-29 06:16] #452 closed

[2019-11-29 06:18] Pringels commented on #448
Closing for now. @cipacda please bump your version to > 2.8.0 and try again.

[2019-11-29 06:18] #448 closed

[2019-11-29 06:21] Pringels opened #459 "Hooks refactor"
Refactor the chart wrapper into a functional component with hooks.

[2019-11-29 06:24] Pringels commented on #430
@omrimor I've just created a new issue for this: #459. I hope to start working on it within the next month or two. Feel free to contribute :)

Closing for now

[2019-11-29 06:24] #430 closed

[2019-11-29 06:31] Pringels commented on #446
Closing issue at it falls beyond the scope of this library

[2019-11-29 06:31] #446 closed

[2019-11-29 06:37] #428 closed

[2019-11-29 10:36] landreaubis opened #460 "Error : Uncaught SyntaxError: Unexpected token '!'"
Hello,
I have a problem.

When i import "import { Pie } from "react-chartjs-2";" in my  file, i have this message error :

It's here : 0.chunk.js
[code]

I'm novice in react.

[2019-11-29 12:26] Pringels commented on #460
@landreaubis did you install `chart.js` as a peer dependency?

This error suggests that it could not be resolved at build time:
`new Error("Cannot find module 'chart.js'")`

Please install it and try to build your project again:
`npm install --save chart.js`

Here is the relevant section in the README: https://github.com/jerairrest/react-chartjs-2#update-to-2x

[2019-11-29 12:44] landreaubis commented on #460
It's good, i had already install with --save, but, i rebuild my docker and it's ok...

Thanks

[2019-11-29 13:44] #460 closed

[2019-11-29 14:00] Pringels commented on #424
I don't see this as particularly desirable or feasible to be honest.
Doing so would add`chart.js` as a transitive dependency, which is not ideal, as we rely on chart.js being a peer dependency. (see https://github.com/jerairrest/react-chartjs-2#update-to-2x)

It would rather create separate React wrapper components for those addons.

[2019-11-29 14:00] #424 closed

[2019-11-29 14:34] Pringels commented on #413
@reaganscofield do you mean something like this? https://github.com/chrispahm/chartjs-plugin-dragdata

I don't think `chart.js` supports this natively, which means the react wrapper doesn't either.

[2019-11-30 09:52] Pringels commented on #449
@sanyam8182 @internationalhouseofdonald I am unable to reproduce this issue. Can one of you please set up an example of how you are able to produce this bug on https://codesandbox.io/ (or similar) ?

[2019-11-30 10:14] Pringels commented on #450
@velthune I've copied your code into a sandbox and it functions exactly the same way the chart.js examples do: https://www.chartjs.org/samples/latest/tooltips/custom-points.html

Can you please describe the behaviour you are expecting in a bit more detail? Do you want the tooltips to disappear when the mouse moves out of the chart/tooltip element? Or if a user clicks elsewhere on the page?

If tha

[2019-11-30 10:16] Pringels commented on #458
@DrRek can you please provide a link to a sandbox with a basic working version of the use-case you are describing?

[2019-11-30 10:18] Pringels commented on #447
@consciousnessdev the react wrapper is not responsible for the rendering of legend labels. It simply passes through your configuration to Chart.js itself. Please open a feature request there: https://github.com/chartjs/Chart.js/issues

[2019-11-30 10:18] #447 closed

[2019-11-30 13:45] Pringels commented on #445
@peazz This can be done by configuring chart-js itself.

Take a look at these two links:
https://www.chartjs.org/docs/latest/axes/styling.html#grid-line-configuration
https://www.chartjs.org/docs/latest/axes/labelling.html#scale-title-configuration

Closing as not applicable to wrapper library

[2019-11-30 13:45] #445 closed

[2019-12-02 03:17] ziyadmutawy commented on #441
is this still an issue?

[2019-12-02 19:01] brunoandradebr commented on #192
When I use <Bar data={data} options={options} plugins={plugins} **redraw={true}** />

And inside plugins I have :

[code]
This plugin breaks a line for every label that have a "\n". ex : labels : ["My label", "My\nSecond label"]

My issue is, when redraw is set to true, for every forEach plugin iteration, my whole chart is been redraw like I'm changing a state variable, and it runs animation every

[2019-12-03 00:51] benmccann commented on #457
If it were me personally maintaining it I wouldn't want a version number in the name. I'm not sure I'd want to create a new repo everytime the version number changes nor would I want to be getting bug reports and pull requests for old versions of the library. I don't think we will maintain Chart.js 2.x separately once 3.x is released. But it's your project, so I don't have very strong feelings abo

[2019-12-03 07:40] artinbajcinca commented on #433
For Radar Graph use
`onClick : (e, item) => {item[0]['_chart'].controller.config.data.labels[item[0]['_index']])}`

[2019-12-03 12:22] Pringels commented on #432
@zahid49 Please take a look at the Chart.js documentation to see what's possible:
https://www.chartjs.org/docs/latest/

Closing as not relevant to wrapper

[2019-12-03 12:22] #432 closed

[2019-12-03 12:24] Pringels commented on #440
@SolaialaguB Please take a look at the Chart.js documentation to see what's possible:
https://www.chartjs.org/docs/latest/

If you hvae a feature request please open an issue in the chart.js repo.
Closing as not relevant to wrapper

[2019-12-03 12:24] #440 closed

[2019-12-03 12:26] Pringels commented on #435
@SolaialaguB Based on your description it seems that the error lies with Chart.js.
Please open an issue there: https://github.com/chartjs/Chart.js/issues

Closing as not relevant to wrapper

[2019-12-03 12:26] #435 closed

[2019-12-03 12:30] Pringels commented on #431
@zahid49 Please take a look at the Chart.js documentation to see what's possible:
https://www.chartjs.org/docs/latest/

Closing as not relevant to wrapper

[2019-12-03 12:30] #431 closed

[2019-12-03 12:33] Pringels commented on #427
Relevant section in the docs:
https://www.chartjs.org/docs/latest/configuration/tooltip.html#position-modes

[2019-12-03 12:42] Pringels commented on #427
@bharatgupta99 seeing as `chart.js` is a peer dependency, you could always import the constructor directly and add your custom positioner:

[code]

Closing this for now. Please re-open it of you discover that this approach does not work for you. (preferably with a code example)

[2019-12-03 12:42] #427 closed

[2019-12-03 12:43] Pringels commented on #425
Closing as not related to wrapper

[2019-12-03 12:43] #425 closed

[2019-12-03 12:44] Pringels commented on #433
Closing as not related to wrapper

[2019-12-03 12:44] #433 closed

[2019-12-03 12:47] Pringels commented on #441
@ziyadmutawy yes it is still an issue. The demo Mix component uses a deprecated configuration for labels. It works in the example code because it has a pinned version of chart.js which still supports the legacy config. I am hoping to resolve this soon.

[2019-12-03 12:47] Pringels commented on #423
Duplicate of #441

[2019-12-03 12:47] #423 closed

[2019-12-03 13:42] Pringels commented on #421
@ravidsp do you simply want to attach a click handler to the chart component itself? Or do you need to attach click handler to specific elements within the chart?

Please take a look at this section of the documentation on how to handle click events: https://github.com/jerairrest/react-chartjs-2#events

[2019-12-03 13:43] #420 closed

[2019-12-03 13:45] Pringels commented on #419
@ravidsp please post a working code example of what you are trying to achieve using an online sandbox.

[2019-12-03 13:47] Pringels commented on #415
@freedomhunter try install the `chart.js` library and try again.
If the problem persists please open an issue here: https://github.com/chartjs/Chart.js/issues

[2019-12-03 13:47] #415 closed

[2019-12-03 13:49] Pringels commented on #413
Closing for now. If you would like to see draggable points as a feature in Chart.js please open a feature request issue here: https://github.com/chartjs/Chart.js/issues

[2019-12-03 13:49] #413 closed

[2019-12-03 13:54] Pringels commented on #412
@dwade0o please see https://stackoverflow.com/questions/47084144/is-it-possible-in-chartjs-to-hide-certain-dataset-legends

Closing as not relevant to wrapper

[2019-12-03 13:54] #412 closed

[2019-12-03 14:14] Pringels commented on #411
@jscheinhorn Is there a specific reason you need to imperatively call the `update()` method on each render call? If your data prop changes then the wrapper will automatically update the chart: https://github.com/jerairrest/react-chartjs-2/blob/master/src/index.js#L237

[2019-12-03 14:17] #409 closed

[2019-12-03 14:19] Pringels commented on #408
@Nutties93 Please provide a code sandbox example that replicates the issue you are experiencing.

[2019-12-03 14:19] #408 closed

[2019-12-03 15:16] VicenteQueiroz commented on #316
For future reference, I used _chartjs-plugin-datalabels_ plugin. First I installed it using:
[code]
Then I imported it in my React Component:
[code]
For my case, I needed a Bubble graph with each bubble to display a different label (not the x nor y values), so I included the following in the options object:
[code]

[2019-12-04 10:43] Pringels commented on #404
@nugz1012 try setting the responsive property to false - `responsive: false`

Closing as not relevant to wrapper

[2019-12-04 10:43] #404 closed

[2019-12-04 10:50] Pringels commented on #402
@waleedshkt please try `lineChartInst.chartInstance.getElementAtEvent(e)`

[2019-12-04 10:54] Pringels commented on #401
Closing. Reason: older than 6 months and not enough or outdated information supplied. Please re-open this issue if the problem persists, but provide more information. (including a sandbox link if possible)

[2019-12-04 10:54] #401 closed

[2019-12-04 10:54] #400 closed

[2019-12-04 10:56] Pringels commented on #397
@tomclague this will be done as part of the release that coincides with Chart.js 3.

Closing

[2019-12-04 10:56] #397 closed

[2019-12-04 12:03] Pringels commented on #395
@seoksanghwan I don't think that's possible. Take a look at the chart.js docs: https://www.chartjs.org/docs/latest/charts/bar.html

As a workaround you could create a second dataset with the negative values?

Closing as not relevant to wrapper.

[2019-12-04 12:03] #395 closed

[2019-12-04 12:07] Pringels commented on #394
@cuongn265 @plotka This will be addressed as part of the Chart.js 3 release branch we're currently planning. This should be finalized early next year sometime.

Related: https://github.com/jerairrest/react-chartjs-2/issues/441

Closing for now

[2019-12-04 12:07] #394 closed

[2019-12-04 12:07] #392 closed

[2019-12-04 12:10] Pringels commented on #391
The example code will in all likelihood be overhauled as part of the Chart.js 3 release.

Closing this issue for now.

[2019-12-04 12:10] #391 closed

[2019-12-04 13:25] Pringels commented on #390
Closing. Reason: older than 6 months and not enough or outdated information supplied. Please re-open this issue if the problem persists, but provide more information. (including a sandbox link if possible)

[2019-12-04 13:25] #390 closed

[2019-12-04 13:26] Pringels commented on #388
Closing. Reason: older than 6 months and not enough or outdated information supplied. Please re-open this issue if the problem persists, but provide more information. (including a sandbox link if possible)

[2019-12-04 13:26] #388 closed

[2019-12-04 13:28] Pringels commented on #386
Closing - not relevant to wrapper. Please consult the Chart.js documentation for details on how to add custom formatting.

[2019-12-04 13:28] #386 closed

[2019-12-04 13:28] Pringels commented on #385
Closing. Reason: older than 6 months and not enough or outdated information supplied. Please re-open this issue if the problem persists, but provide more information. (including a sandbox link if possible)

[2019-12-04 13:28] #385 closed

[2019-12-04 13:30] Pringels commented on #383
Closing as not relevant to wrapper

[2019-12-04 13:30] #383 closed

[2019-12-04 13:32] Pringels commented on #382
Already implemented in Chart.js itself: https://www.chartjs.org/docs/latest/charts/bar.html#stacked-bar-chart

Closing

[2019-12-04 13:32] #382 closed

[2019-12-04 15:01] guygrinberger opened #461 "Highlighting a particular point"
Hi,

I am trying to highlight a particular point in the graph using its index as answered here:
https://stackoverflow.com/questions/55468483/highlight-a-particular-point-in-chart-js

my customRadius function:
[code]
 my option variable:
[code]
and the chart:
[code]

I expected the 3rd index point will be highlighted.

What am I doing wrong?

p.s.
Thanks for your work! helped me a lot

[2019-12-04 23:18] narenvaishnavi commented on #214
@jerairrest I am trying to do the same using react-chartjs-2. However, for plotting Pie chart, i am getting undefined at the center of Pie chart. Can anyone help me how can we remove that?

[2019-12-05 05:47] Pringels commented on #461
@guygrinberger what are you seeing instead? No highlighted point? Or the 4th index highlighted?

If you want to highlight the third point you should use the following: (as array indexes start at 0)
`return index === 2 ?`

If you are not seeing any highlighted points then please open an issue Chart.js directly: https://github.com/chartjs/Chart.js/issues

[2019-12-05 05:50] Pringels commented on #381
@Shtokins this library is only a react wrapper component. All chart rendering is done by Chart.js. Please open an issue there: https://github.com/chartjs/Chart.js

Closing for now

[2019-12-05 05:50] #381 closed

[2019-12-05 05:52] Pringels commented on #380
Closing. Reason: older than 6 months and not enough or outdated information supplied. Please re-open this issue if the problem persists, but provide more information. (including a sandbox link if possible)

[2019-12-05 05:52] #380 closed

[2019-12-05 05:54] Pringels commented on #379
Closing. Reason: older than 6 months and not enough or outdated information supplied. Please re-open this issue if the problem persists, but provide more information. (including a sandbox link if possible)

[2019-12-05 05:54] #379 closed

[2019-12-05 05:56] Pringels commented on #376
Closing as not within scope of library's functionality

[2019-12-05 05:56] #376 closed

[2019-12-05 05:57] #375 closed

[2019-12-05 05:57] #370 closed

[2019-12-05 06:20] Pringels commented on #372
Closing. Reason: older than 6 months and not enough or outdated information supplied. Please re-open this issue if the problem persists, but provide more information. (including a sandbox link if possible)

[2019-12-05 06:20] #372 closed

[2019-12-05 06:21] Pringels commented on #371
Closing. Reason: older than 6 months and not enough or outdated information supplied. Please re-open this issue if the problem persists, but provide more information. (including a sandbox link if possible)

[2019-12-05 06:21] #371 closed

[2019-12-05 06:21] #369 closed

[2019-12-05 06:22] #367 closed

[2019-12-05 06:22] #366 closed

[2019-12-05 06:24] Pringels commented on #365
Closing. Reason: older than 6 months and not enough or outdated information supplied. Please re-open this issue if the problem persists, but provide more information. (including a sandbox link if possible)

[2019-12-05 06:24] #365 closed

[2019-12-05 06:25] Pringels commented on #364
Closing as not relevant to wrapper

[2019-12-05 06:25] #364 closed

[2019-12-05 06:26] Pringels commented on #363
Closing. Reason: older than 6 months and not enough or outdated information supplied. Please re-open this issue if the problem persists, but provide more information. (including a sandbox link if possible)

[2019-12-05 06:26] #363 closed

[2019-12-05 06:26] #362 closed

[2019-12-05 06:27] Pringels commented on #361
Closing as not relevant to wrapper. Please open a feature request with Chart.js directly

[2019-12-05 06:27] #361 closed

[2019-12-05 06:28] Pringels commented on #360
Closing as not relevant to wrapper

[2019-12-05 06:28] #360 closed

[2019-12-05 06:33] Pringels opened #462 "Add issue templates"
Add some issues templates for bugs, feature requests and questions.

The goal is to reduce the number of issues with the following problems:

1.) Not enough information provided to reliably reproduce a bug
2.) Questions, enhancements and bugs related to Chart.js. (this is a very common one)

[2019-12-05 06:34] #358 closed

[2019-12-05 06:52] Pringels commented on #357
@jleongbsmTech you need to use unique labels for your datasets. So in the case of your example you need to replace the `zz` labels on each dataset with a label specific to each dataset:

[code]

Closing for now. Please create a new issue if you still experience problems after implementing this change.

[2019-12-05 06:52] #357 closed

[2019-12-05 06:53] Pringels commented on #356
@bhautik11 please issue a feature request with Chart.js directly.

[2019-12-05 06:53] #356 closed

[2019-12-05 06:54] Pringels commented on #351
Please open a feature request with Chart.js directly

[2019-12-05 06:54] #351 closed

[2019-12-05 06:55] Pringels commented on #350
Closing. Reason: older than 6 months and not enough or outdated information supplied. Please re-open this issue if the problem persists, but provide more information. (including a sandbox link if possible)

[2019-12-05 06:55] #350 closed

[2019-12-05 06:57] Pringels commented on #349
Closing for now. The test setup will be overhauled soon.

[2019-12-05 06:57] #349 closed

[2019-12-05 06:57] Pringels commented on #348
Closing as not relevant to wrapper

[2019-12-05 06:57] #348 closed

[2019-12-05 07:00] #343 closed

[2019-12-05 07:00] Pringels commented on #342
@souuu Please refer to the Chart.js documentation

[2019-12-05 07:00] #342 closed

[2019-12-05 07:02] #341 closed

[2019-12-05 07:04] Pringels commented on #339
@falcofire please open an issue with Chart.js

[2019-12-05 07:04] #339 closed

[2019-12-05 07:09] #333 closed

[2019-12-05 07:10] Pringels commented on #331
Please consult the Chart.js documentation. If tis is not possible to configure then consider opening a feature request in the Chart.js repository

[2019-12-05 07:10] #331 closed

[2019-12-05 07:14] Pringels commented on #328
@ghost this seems to be related to how you are generating the random data. The conditional you have defined does not always pick a different object key, so some intervals will indeed not return a different dataset.

Closing for now.

[2019-12-05 07:14] #328 closed

[2019-12-05 08:24] guygrinberger commented on #461
@Pringels My bad. I copied a dataset which had pointRadius: 0 so I couldn't see it. Sorry

[2019-12-05 08:24] #461 closed

[2019-12-10 17:14] #324 closed

[2019-12-10 17:16] Pringels commented on #323
consider https://github.com/FormidableLabs/victory-native

closing

[2019-12-10 17:16] #323 closed

[2019-12-10 17:17] Pringels commented on #322
Closing. Older than 6 months and not relevant to wrapper. Please see chart.js docs for configuration options.

[2019-12-10 17:17] #322 closed

[2019-12-10 17:18] #320 closed

[2019-12-10 17:19] Pringels commented on #318
Please create new issues if you are still experiencing issues with the latest versions of both libraries. Include a sandbox example if possible.

Closing

[2019-12-10 17:19] #318 closed

[2019-12-10 17:19] #317 closed

[2019-12-10 17:19] #316 closed

[2019-12-10 17:21] Pringels commented on #315
@sithuhlaing see https://github.com/jerairrest/react-chartjs-2#getting-context-for-data-generation

[2019-12-10 17:21] #315 closed

[2019-12-10 17:23] Pringels commented on #314
@sithuhlaing you simply extend the options config with your plugins. (see https://github.com/chartjs/chartjs-plugin-annotation#configuration and https://github.com/jerairrest/react-chartjs-2#properties)

[2019-12-10 17:23] #314 closed

[2019-12-10 17:26] Pringels commented on #313
Please refer to the Chart.js documentation

[2019-12-10 17:26] #313 closed

[2019-12-10 17:26] Pringels commented on #312
Please refer to the Chart.js documentation

[2019-12-10 17:26] #312 closed

[2019-12-10 17:27] #308 closed

[2019-12-10 17:28] #305 closed

[2019-12-10 17:29] Pringels commented on #301
If this proeblem persists please create a sandbox reproducing your issue. (or at least post the dataset you are using)

Closing for now, as it is older than 6 months and probably not related to the react wrapper

[2019-12-10 17:29] #301 closed

[2019-12-10 17:30] Pringels commented on #300
@ishansan38 Please refer to the Chart.js documentation, or open and issue on their repo or stackoverflow

[2019-12-10 17:30] #300 closed

[2019-12-10 17:34] Pringels commented on #299
Please refer to the chart.js docs: https://www.chartjs.org/docs/latest/configuration/legend.html#custom-on-click-actions

[2019-12-10 17:34] #299 closed

[2019-12-10 17:34] #298 closed

[2019-12-10 17:36] Pringels commented on #297
Please see: https://www.chartjs.org/docs/latest/configuration/legend.html#html-legends

[2019-12-10 17:36] #297 closed

[2019-12-10 17:37] Pringels commented on #294
Please create a sandbox example with the problem you are experiencing and open a new issue if this persists.

[2019-12-10 17:37] #294 closed

[2019-12-10 17:38] #293 closed

[2019-12-10 17:39] Pringels commented on #290
Closing. Please create a new issue with code examples and/or a code sandbox to demonstrate the problem you are facing.

[2019-12-10 17:39] #290 closed

[2019-12-10 17:41] Pringels commented on #289
@szn0007 please post a question on stackoverflow for assistance on how to use the chart.js library

[2019-12-10 17:41] #289 closed

[2019-12-10 17:42] Pringels commented on #288
You can conditionally render the Doughnut if data is present

[2019-12-10 17:42] #288 closed

[2019-12-10 17:45] Pringels commented on #287
Technically you could just wrap the chart in a div with your styling applied to it. But yes I agree that this is a fairly trivial thing to implement. I will get to it at some point. Feel free to create a PR though :)

[2019-12-10 17:47] #284 closed

[2019-12-10 17:48] Pringels commented on #284
Please move this to stackoverflow or the chart.js github repo

[2019-12-10 17:48] #283 closed

[2019-12-10 17:48] Pringels commented on #282
@glorenzen please refer to the chart.js documentation

[2019-12-10 17:48] #282 closed

[2019-12-10 17:49] Pringels commented on #280
Please open an issue on the chart.js repo or stackoverflow

[2019-12-10 17:49] #280 closed

[2019-12-10 17:49] Pringels commented on #279
Please provide example/sandbox code if this issue persists.

[2019-12-10 17:49] #279 closed

[2019-12-10 17:50] Pringels commented on #278
Please refer to the chart.js docs/issues, or open an issue on stackoverflow

[2019-12-10 17:50] #278 closed

[2019-12-10 17:50] #276 closed

[2019-12-10 17:51] Pringels commented on #272
Please refer to the chart.js docs/issues, or open an issue on stackoverflow

[2019-12-10 17:51] #272 closed

[2019-12-10 17:51] #271 closed

[2019-12-10 17:51] Pringels commented on #270
Please refer to the chart.js docs/issues, or open an issue on stackoverflow

[2019-12-10 17:51] #270 closed

[2019-12-10 17:53] #268 closed

[2019-12-10 17:56] Pringels commented on #267
Please open an issue one the chart.js repo. This is simply a wrapper component that passes options along.

[2019-12-10 17:56] #267 closed

[2019-12-10 17:56] Pringels commented on #265
Please refer to the chart.js documentation

[2019-12-10 17:56] #265 closed

[2019-12-10 17:57] Pringels commented on #264
Please refer to React documentation on how to render JSX components to the DOM: https://reactjs.org/

[2019-12-10 17:57] #264 closed

[2019-12-10 17:58] Pringels commented on #263
Please refer to the chart.js documentation

[2019-12-10 17:58] #263 closed

[2019-12-10 17:59] Pringels commented on #261
Supplied domian no longer exists. Please create a new sandbox with your code and open a new issue if your problem persists.

[2019-12-10 17:59] #261 closed

[2019-12-10 18:00] #260 closed

[2019-12-10 18:00] #257 closed

[2019-12-10 18:02] Pringels commented on #254
Please provide a sandbox example reproducing your problem. If it persists with the latest versions of both chart.js and react-chartjs-2, then feel free to open a new issue.

[2019-12-10 18:02] #254 closed

[2019-12-10 18:02] Pringels commented on #253
Please provide a sandbox example reproducing your problem. If it persists with the latest versions of both chart.js and react-chartjs-2, then feel free to open a new issue.

[2019-12-10 18:02] #253 closed

[2019-12-10 18:03] Pringels commented on #250
Closing. See: https://github.com/jerairrest/react-chartjs-2/issues/287

[2019-12-10 18:04] Pringels commented on #252
Closing. See: https://github.com/jerairrest/react-chartjs-2/issues/287

[2019-12-10 18:04] #252 closed

[2019-12-10 18:06] Pringels commented on #250
Closing for now. IF this problem persists with the latest versions of both libraries then please feel free to reopen

[2019-12-10 18:06] #250 closed

[2019-12-10 18:07] Pringels commented on #249
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-10 18:07] #249 closed

[2019-12-10 18:08] Pringels commented on #248
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-10 18:08] #248 closed

[2019-12-10 18:09] #247 closed

[2019-12-10 18:09] Pringels commented on #246
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-10 18:09] #246 closed

[2019-12-10 18:10] Pringels commented on #242
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-10 18:10] #242 closed

[2019-12-10 18:12] Pringels commented on #241
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-10 18:12] #241 closed

[2019-12-10 18:12] Pringels commented on #240
Please post a question on stackoverflow

[2019-12-10 18:12] #240 closed

[2019-12-10 18:13] #237 closed

[2019-12-11 05:35] #230 closed

[2019-12-11 05:35] Pringels commented on #233
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 05:35] #233 closed

[2019-12-11 05:36] Pringels commented on #225
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 05:36] #225 closed

[2019-12-11 05:36] Pringels commented on #229
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 05:36] #229 closed

[2019-12-11 05:37] Pringels commented on #224
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 05:37] #224 closed

[2019-12-11 05:37] Pringels commented on #222
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 05:37] #222 closed

[2019-12-11 05:39] Pringels commented on #219
Duplicate of #441

[2019-12-11 05:39] #219 closed

[2019-12-11 05:40] Pringels commented on #221
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 05:40] #221 closed

[2019-12-11 05:42] Pringels commented on #218
Seems like duplicate of #438 - closing for now

[2019-12-11 05:42] #218 closed

[2019-12-11 05:43] Pringels commented on #217
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 05:43] #217 closed

[2019-12-11 05:43] #216 closed

[2019-12-11 05:45] Pringels commented on #214
@narenvaishnavi please open a new issue with code examples and a sanbox reproducing the bug you are describing. Closing this issue for now.

[2019-12-11 05:45] #214 closed

[2019-12-11 05:46] singhqwerty6 opened #463 "Chart to image"
I need help to convert chart to image so I can use it in MAKEPDF

[2019-12-11 05:46] Pringels commented on #213
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 05:46] #213 closed

[2019-12-11 05:46] Pringels commented on #212
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 05:46] #212 closed

[2019-12-11 05:47] #211 closed

[2019-12-11 05:48] Pringels commented on #210
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 05:48] #210 closed

[2019-12-11 05:48] #206 closed

[2019-12-11 05:50] Pringels commented on #205
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 05:50] #205 closed

[2019-12-11 05:55] Pringels commented on #201
@phhoffmann please post a code example or sandbox which reproduces your problem

[2019-12-11 05:56] Pringels commented on #199
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 05:56] #199 closed

[2019-12-11 05:56] Pringels commented on #196
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 05:56] #196 closed

[2019-12-11 05:56] Pringels commented on #195
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 05:56] #195 closed

[2019-12-11 05:57] Pringels commented on #193
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 05:57] #193 closed

[2019-12-11 06:00] Pringels commented on #192
@brunoandradebr please open a new issue for the problem you are describing, ideally with a full code example and/or sandbox

[2019-12-11 06:00] #192 closed

[2019-12-11 06:02] Pringels commented on #191
Closing for now. Please refer to the Chart.js documentation for questions around configuration and/or usage of the library. If you have a bug or enhancement related directly to Chart.js, please open an issue on their Github.

[2019-12-11 06:02] #191 closed

[2019-12-11 06:03] Pringels commented on #190
Seems like duplicate of #438

[2019-12-11 06:03] #190 closed

[2019-12-11 06:03] Pringels commented on #189
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 06:03] #189 closed

[2019-12-11 06:04] Pringels commented on #178
Closing for now. Please refer to the Chart.js documentation for questions around configuration and/or usage of the library. If you have a bug or enhancement related directly to Chart.js, please open an issue on their Github.

[2019-12-11 06:04] #178 closed

[2019-12-11 06:04] Pringels commented on #177
Closing for now. Please refer to the Chart.js documentation for questions around configuration and/or usage of the library. If you have a bug or enhancement related directly to Chart.js, please open an issue on their Github.

[2019-12-11 06:04] #177 closed

[2019-12-11 06:05] Pringels commented on #173
consider https://github.com/FormidableLabs/victory-native

closing

[2019-12-11 06:05] #173 closed

[2019-12-11 06:05] Pringels commented on #172
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 06:05] #172 closed

[2019-12-11 06:06] Pringels commented on #164
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 06:06] #164 closed

[2019-12-11 06:06] Pringels commented on #162
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 06:06] #162 closed

[2019-12-11 06:08] Pringels commented on #161
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 06:08] #161 closed

[2019-12-11 06:09] #155 closed

[2019-12-11 06:09] Pringels commented on #153
Closing for now. Please refer to the Chart.js documentation for questions around configuration and/or usage of the library. If you have a bug or enhancement related directly to Chart.js, please open an issue on their Github.

[2019-12-11 06:09] #153 closed

[2019-12-11 06:10] #151 closed

[2019-12-11 06:11] #150 closed

[2019-12-11 06:13] Pringels commented on #147
Closing for now. Please refer to the Chart.js documentation for questions around configuration and/or usage of the library. If you have a bug or enhancement related directly to Chart.js, please open an issue on their Github.

[2019-12-11 06:13] #147 closed

[2019-12-11 07:00] Pringels commented on #136
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 07:00] #136 closed

[2019-12-11 07:05] Pringels commented on #129
Closing for now. Please refer to the Chart.js documentation for questions around configuration and/or usage of the library. If you have a bug or enhancement related directly to Chart.js, please open an issue on their Github.

[2019-12-11 07:05] #129 closed

[2019-12-11 07:05] #124 closed

[2019-12-11 07:05] Pringels commented on #119
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 07:05] #119 closed

[2019-12-11 07:06] Pringels commented on #117
Closing for now. Please refer to the Chart.js documentation for questions around configuration and/or usage of the library. If you have a bug or enhancement related directly to Chart.js, please open an issue on their Github.

[2019-12-11 07:06] #117 closed

[2019-12-11 07:14] #114 closed

[2019-12-11 07:14] Pringels commented on #112
Closing for now. Please refer to the Chart.js documentation for questions around configuration and/or usage of the library. If you have a bug or enhancement related directly to Chart.js, please open an issue on their Github.

[2019-12-11 07:14] #112 closed

[2019-12-11 07:15] Pringels commented on #111
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 07:15] #111 closed

[2019-12-11 07:15] #107 closed

[2019-12-11 07:16] Pringels commented on #106
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 07:16] #106 closed

[2019-12-11 07:29] Pringels commented on #99
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 07:29] #99 closed

[2019-12-11 07:30] Pringels commented on #96
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 07:30] #96 closed

[2019-12-11 07:41] Pringels commented on #92
Closing for now. Please refer to the Chart.js documentation for questions around configuration and/or usage of the library. If you have a bug or enhancement related directly to Chart.js, please open an issue on their Github.

[2019-12-11 07:41] #92 closed

[2019-12-11 07:42] #90 closed

[2019-12-11 07:43] Pringels commented on #87
Closing for now. Please refer to the Chart.js documentation for questions around configuration and/or usage of the library. If you have a bug or enhancement related directly to Chart.js, please open an issue on their Github.

[2019-12-11 07:43] #87 closed

[2019-12-11 07:44] Pringels commented on #85
Closing for now. Please supply a sandbox or code example with the latest versions of both libraries. If the problem persists, feel free to open a new issue.

[2019-12-11 07:44] #85 closed

[2019-12-11 07:45] Pringels commented on #81
Closing for now. Please refer to the Chart.js documentation for questions around configuration and/or usage of the library. If you have a bug or enhancement related directly to Chart.js, please open an issue on their Github.

[2019-12-11 07:45] #81 closed

[2019-12-11 07:48] Pringels commented on #73
Suggest we use https://github.com/xnimorz/use-debounce once the component has been refactored to use hooks: #459

[2019-12-11 07:49] Pringels commented on #70
Closing for now. Please refer to the Chart.js documentation for questions around configuration and/or usage of the library. If you have a bug or enhancement related directly to Chart.js, please open an issue on their Github.

[2019-12-11 07:49] #70 closed

[2019-12-11 07:54] Pringels commented on #463
@singhqwerty6 see the following links for help on how to render an image from a chart instance:
https://github.com/jerairrest/react-chartjs-2#chartjs-instance
https://www.chartjs.org/docs/latest/developers/api.html#tobase64image

[2019-12-11 07:54] #463 closed

[2019-12-11 10:19] singhqwerty6 opened #464 "toBase64Image"
Hi, I am new to React .

Chart.js instance
chartReference = {};

componentDidMount() {
  console.log(this.chartReference); // returns a Chart.js instance reference
}

render() {
  return (<Doughnut ref={(reference) => this.chartReference = reference } data={data} />)
}

how to use this.chartReference to get a base 64 encoded string of the chart in it's current state.
I tried this.chartReference.to

[2019-12-11 12:26] singhqwerty6 commented on #464
Got it

[2019-12-11 12:26] #464 closed

[2019-12-11 16:55] brunoandradebr commented on #192
@Pringels My bad! It was a problem with react hooks. My chart component were updating ever that a page component property updates, I resolved encapsulating my chart component with React.useMemo. Everything is working as espected. Thanks!

[2019-12-11 16:56] davidcalhoun commented on #222
Sorry I didn't provide the steps to reproduce.  It's still happening right on the docs:

1. Open http://jerairrest.github.io/react-chartjs-2/
2. Scroll to **Bar Example (custom size)**
3. Expand and contract the window width.

Observed: the height of the Bar Chart continues to grow way offscreen.
Expected: the height of the Bar Chart should maintain a reasonable height.

Video (click to view):
<a

[2019-12-11 16:59] davidcalhoun commented on #334
I also ran into this problem, which is why I filed #222 Sorry I didn't provide the steps to reproduce.  It's still happening right on the docs as of right now:

1. Open http://jerairrest.github.io/react-chartjs-2/
2. Scroll to **Bar Example (custom size)**
3. Expand and contract the window width.

Observed: the height of the Bar Chart continues to grow way offscreen.
Expected: the height of the Ba

[2019-12-11 17:15] Pringels commented on #192
Awesome :) I'm glad you came right!

[2019-12-11 17:17] Pringels commented on #334
Thanks for supplying more information @davidcalhoun 👍 I will add it to the bugfix backlog

[2019-12-11 18:49] gj315 opened #465 "I want to add multiple points between two labels (which are on x-axis)"
I am using the Line chart form react-chartjs-2

I want to add multiple points between two labels (which are on x-aixs)

For example-
[code]
Please help in this

Thanks in advance

[2019-12-12 08:51] DavidSichau opened #466 "Throws Exception when used with react lazy"
If I dynamic load react chartjs it throws an exception during the unmount, when I load react-chartjs without dynamic loading there is no problem.

[code]

The line this error occures is:
https://github.com/jerairrest/react-chartjs-2/blob/d80f5881504460f94adb30b2813bcc67e328d2bb/src/index.js#L178

[2019-12-12 09:04] alex-mironov opened #467 "Hide axis when dataset is turned off"
I'm using 2 axes for different datasets. When the dataset is turned off `0 0.1, 0.2` is shown on the corresponding axis.
Is there any way to hide the axis or adjust its ticks when the dataset is turned off?
<img width="550" alt="Screen Shot 2019-12-12 at 11 00 17" src="https://user-images.githubusercontent.com/2544767/70697798-d88a3b80-1cce-11ea-8ce1-7784ec6b3ac0.png">

[2019-12-14 11:49] sanjeeviraj commented on #388
use stack key in dataset, would solve it like
`datasets: [
      {
        label: 'Low',
        data: [67.8,50,10],
        backgroundColor: '#D6E9C6',
        **stack: arbitraryStackKey**,
      },
      {
        label: 'Moderate',
        data: [20.7,5,9],
        backgroundColor: '#FAEBCC',
        **stack: arbitraryStackKey**,
      },
      {
        label: 'High',
        data: [11.4,9,3],

[2019-12-15 21:58] Jareechang commented on #462
hey @Pringels, I think best its best to request people to update their code into https://codesandbox.io/ and post the link.

That way the its easier to re-produce and resolve issues.

[2019-12-15 22:07] Jareechang commented on #457
will there be a lot of deprecations coming in Chart.js 3.x ?

I'd image there will be still a lot of the same features supported right ?

What are you'll thoughts on moving this repo to use a mono-repo ? This will hopefully help reuse the boilerplate require for the new repo (testing, linting, storybook, build and deploy code)
- `packages/react-chartjs-common` // Common utilities mentioned above
-

[2019-12-16 05:04] benmccann commented on #457
All the functionality and feature set is basically the same. However, there are pretty fair number of API changes in order to meet our goals for v3 such as improved performance. Here's the migration guide:
https://github.com/chartjs/Chart.js/blob/master/docs/getting-started/v3-migration.md

[2019-12-19 07:46] santoshsingh94 opened #468 "getting undefined Label on every chart"
My code is this:

import React from "react";
import { Line } from "react-chartjs-2";

const data = {
  labels: ["January", "February", "March", "April", "May", "June", "July"],
  datasets: [
    {
      label: "My First dataset",
      fill: false,
      lineTension: 0.1,
      backgroundColor: "rgba(75,192,192,0.4)",
      borderColor: "rgba(75,192,192,1)",
      borderCapStyle: "butt",
      bor

[2019-12-19 16:14] tingtingtinghuang commented on #330
@Charlie91 Hello. I am doing what you have mentioned. Have you reach your goal? Would you like to share some suggestions?

[2019-12-30 14:15] php7webmob commented on #354
I am having the same issue. Anyone found solution for this?

[2020-01-05 07:16] SirPhemmiey commented on #201
Please does anyone know how to get the funnel to work with react-chartjs-2?

[2020-01-07 10:35] kavitharajsekaran opened #470 "mixed chart bar and line graph different x-axis label"
i am useing react-chartjs-2 npm where my lable set for bar graph and line graph is different. Is it possible to make different labels for x-axis.
    I am facing the isssue of bar and line graph label are different values and different length so bar graph takes the line graph label in order.  Any one can resolve this issue

[2020-01-08 17:11] WholemealDrop opened #471 "Chart requests"
Now sure where to put requests but these are some features I'd like to see but can't figure out. If any of these can be completed by current options, I'd love to hear about it. I've looked through the documentation and examples and don't see how these can be done.

- Title: chartjs does this natively but doesn't appear to be an option

- Show cart values in legend (currently you can do this but it

[2020-01-09 19:54] l222p commented on #149
I imported two ways. First one

`import { Doughnut, Chart } from 'react-chartjs-2';`

It didn't work.

`"react-chartjs-2"' has no exported member 'Chart'.`

Second One.

`import Chart from 'react-chartjs-2';`

It's imported, but got thi errors

`Property 'controllers' does not exist on type 'typeof ChartComponent'.`
`Property 'helpers' does not exist on type 'typeof ChartComponent'.`

[2020-01-10 02:58] l222p commented on #149
Requiring this way, it works

`const Chart = require('react-chartjs-2').Chart;`

[2020-01-12 12:25] defusioner commented on #459
Am I right saying that the final version should be using react 16 and should be a major cause it will break react 15 support?

[2020-01-12 12:28] defusioner commented on #459
@jerairrest what do you think of it? For me, this should be the core ticket in the Chart 3.0 milestone

[2020-01-12 12:30] defusioner opened #472 "Update dependencies"
As I can see, the project is quite outdated:
- old Babel plugins
- old storybook dependencies
- 8 low, 7 moderate, 21 high, 1 critical dependencies

With the #459 and Chart 3.0 milestone, I think we should fix and tree-shake.

@jerairrest

[2020-01-12 12:40] Pringels commented on #472
@defusioner we're actively working on a complete overhaul of the library using [tsdx](https://github.com/jaredpalmer/tsdx). This will form part of the Chart 3.0 milestone. See branch: https://github.com/jerairrest/react-chartjs-2/tree/feature/chartjs3-rewrite

[2020-01-12 12:43] defusioner commented on #472
@Pringels Thanks for the feedback.

Can I help you somehow?

[2020-01-12 14:35] LonguCodes opened #473 "Internal Object - potential error in documentation"
In the README is seays that if i want to import the internal Chart.js object i should use `import {Chart} from 'react-chartjs-2';` but typescript throws an error. I have the @types installed.

[2020-01-12 21:43] jerairrest commented on #459
I believe this is correct.

[2020-01-13 06:49] Pringels commented on #472
@defusioner sure :) I will set up a project with issues for the 3.0 refactor. If you're keen to contribute regularly we have a small slack group we use to coordinate things.  (ask @jerairrest for an invite)

[2020-01-14 16:02] james-dillon commented on #383
@kaungmyatlwin Great solution, thanks! For others who are trying to use this, note that I had to put this code in the "componentWillMount()" method of the _parent_ component, not in the component that holds the Chart element. I was stumped for a while, trying to put the plugin code on the same page the react-chartjs-2 element was located. In case that's helpful to others.

**chartpage.jsx**  // ba

[2020-01-17 20:40] andrewhood commented on #368
`height={null}` was causing console errors for me. This worked though: `:height="NaN"`

[2020-01-19 21:27] jramirezneira commented on #220
you only have to indicate  stacked: true in one of two axis, if you chart is vertical xAxes stacked: true

scales: {
        xAxes: [{
            stacked: true
        }],
        yAxes: [{
            stacked: false
        }]
    }

[2020-01-21 06:23] Pringels opened #478 "Migrate tests from Mocha to Jest"
We want to use Jest and `react-testing-library` to test the 3.0 version. Migrate all the existing tests to Jest syntax, and make any required adjustments to the mocks/specs if required.

[2020-01-21 06:25] Pringels opened #479 "Add Typescript types"
As part of the refactor to tsdx, we want to convert the existing Proptypes to Typescript types.

Should ideally be started after #459

[2020-01-21 06:28] Pringels opened #480 "Implement the new chart.js 3.0 API"
Implement changes (if any) required to be compliant with the new 3.0 API of chart.js.

Track their progress here:
https://github.com/chartjs/Chart.js/issues/6598
https://github.com/chartjs/Chart.js/milestone/16

[2020-01-21 06:32] Pringels opened #481 "Update documentation"
Update the readme and relevant code docs to include the following:

- New usage of chart.js 3.0 (if required)
- New information on how to set up the project locally (See tsdx docs)
- Compatibility notes regarding react hooks and chart.js 3.0 dependency
- Link to legacy docs?

[2020-01-21 06:35] Pringels opened #482 "Add storybook"
Copy over the existing storybook instance to the new tsdx-generated project.
Make any necessary changes to the configuration or story definitions if required by new storybook version.

[2020-01-21 08:32] rajatchugh2431 commented on #155
I am having an issue every line inside draw function is not covered in the test coverage .See the attached photo you will find those highlighted lines there.
I am using following dependencies

"devDependencies": {
"@babel/plugin-proposal-class-properties": "^7.7.4",
"@babel/plugin-transform-react-jsx": "^7.7.7",
"@babel/preset-env": "^7.7.7",
"@babel/preset-react": "^7.7.4",
"axios-mock-adapter":

[2020-01-21 10:28] theashraf commented on #478
I'd like to help with this one

[2020-01-21 17:03] Pringels commented on #478
@theashraf sure thing! you can check out https://github.com/jerairrest/react-chartjs-2/tree/feature/chartjs3-rewrite and start there. The Jest setup is already up and running. you'll have to copy the tests from what is currently on master.

If you experience any issues with Typescript let me know. I hastily added some types but I suspect it's not quite 100% yet.

[2020-01-21 20:21] andrewbrntt commented on #334
Any fix for this yet?

[2020-01-22 00:47] georgefeast commented on #450
@velthune Did you ever figure this out? Seems like the function is only run when the tooltip is active (opacity:1). Doesn't seem to be impacted by the intersect prop.

[2020-01-22 15:59] herwaldt commented on #334
Check out this suggestion. This solved the issue for me.

I wrapped my component with a div like in the link below and added height: "30vh" for what I needed

` <div style={{ position: "relative", margin: "auto", width: "80vw", height: '30vh' }}>
              <Bar
                data={data}
                options={options}
                className={classes.barchart}
              />
</div>`

[

[2020-01-22 16:06] LukeMeyer94 opened #483 "Bar chart `offset` default value is incorrect"
Using the following options to render a `Bar` chart

[code]

when `offset` is removed, data is cut off on both sides of the bar chart. according to [chartjs documentation](https://www.chartjs.org/docs/latest/charts/bar.html), the default value for `offset` should be `true` (only for [Bar charts](https://www.chartjs.org/docs/latest/axes/cartesian/?h=offset)`

[2020-01-23 00:34] kdiaz10 commented on #348
just add
var chart = nv.models.pieChart()
      .x(function(d) { return d.label })
      .y(function(d) { return d.value })
      .legendPosition("right");

[2020-01-23 17:00] benmccann commented on #457
Should I close this as a duplicate of https://github.com/jerairrest/react-chartjs-2/issues/480?

[2020-01-26 00:35] jerairrest commented on #457
Let's close this one for now and deal with this in the other issue.

[2020-01-26 00:35] #457 closed

[2020-01-26 12:16] shimpeiws opened #486 "Export Chart type in index.d.ts"
We can not use Chart object when we use react-chartjs-2 in TypeScript.

Because Chart object is exported at here ( https://github.com/jerairrest/react-chartjs-2/blob/73a47d1d748df986ba8f96f4afe3cc7d4d09a7e3/src/index.js#L420), but there is no export about Chart object in index.d.ts (https://github.com/jerairrest/react-chartjs-2/blob/73a47d1d748df986ba8f96f4afe3cc7d4d09a7e3/index.d.ts)

In some sit

[2020-01-26 20:12] ohlr commented on #483
Thanks @LukeMeyer94 for providing this finding!
Can confirm the bug.

[2020-01-28 09:40] sheixt commented on #247
Updating the example (https://github.com/jerairrest/react-chartjs-2/blob/master/example/src/components/mix.js) with @weisssean answer would help others avoid this issue.

[2020-01-28 16:36] kiikoh commented on #438
still dealing with this problem, very annoying

[2020-01-29 07:30] cndlhvn commented on #201
Hi everyone,  In my case, `chartjs-plugin-annotation` plugin works well with this way.

[code]
![mychart](https://user-images.githubusercontent.com/7157959/73336238-9df75500-42b4-11ea-94d1-8af0e48435c8.png)

[2020-01-29 11:55] theshashiverma commented on #90
@nealoke thanks, redraw helped me, I was just about to use recharts(Echarts)

[2020-01-30 09:07] tolnai commented on #131
patch-package to the rescue!

[code]

[2020-01-30 14:21] ksandr-dev opened #488 "Can't word-wrap legend text"
![Screen Shot 2020-01-30 at 6 17 20 AM](https://user-images.githubusercontent.com/25770330/73457318-58746f80-4328-11ea-828d-8033bb8db768.png)

[2020-01-31 20:08] jordansoltman commented on #201
I was having a hard time getting this working using a scatter plot and then realized that my scaleID was `y-axis-1` not `y-axis-0` in case that helps anyone else out there!

[2020-02-06 06:44] jpirzent opened #489 "[Bug] Legend does not update color."
Not sure if this is an issue with this wrapper, or with the base project, but the legend color does not seem to update between data changes... I have 3 "sections" on my page, that display different data sets, with different colors. I use the same chart for all 3 sections, with selectors to change to a different section. When I change sections, the data changes properly, and the color on the chart

[2020-02-08 01:37] goldenshooter opened #490 "Deprecated warning, please update chart.js version."
Hi there, thank you for building this incredible library.

I just find out this deprecated warning recently.
![image](https://user-images.githubusercontent.com/10394787/74076845-f4684e80-4a7f-11ea-8094-317edde47281.png)

And chart.js had this issue before, and fixed it from version **2.9.1**

![image](https://user-images.githubusercontent.com/10394787/74076867-1661d100-4a80-11ea-8622-1cddcb0f8551.

[2020-02-10 09:11] djordjesavanovic commented on #441
Are there any news about this bug? Fix coming soon?

[2020-02-11 14:05] DefKorns commented on #149
tslint fixed, although i dont seeem to be able to change the the text color, it's always black

[code]

[2020-02-11 16:55] sheixt opened #491 "Correct approach to custom chart types"

[2020-02-11 17:33] sheixt commented on #491
I am looking to create a custom chart type to achieve a colour change to the line chart dependant on the dataset value. My desired end result is similar to this: https://jsfiddle.net/egamegadrive16/zjdwr4fh/

I have this working in raw (JS with the following script:

`function drawLineChart(data, labels) {
    var ctx                             = document.getElementById('line-chart').getContext('

[2020-02-11 20:26] philippfrank commented on #489
@jpirzent Same issue here. Did you come up with a solution?

[2020-02-12 13:23] sheixt commented on #491
After further reading, I believe the correct approach is to use a plugin.

[2020-02-12 13:23] #491 closed

[2020-02-13 08:54] jpirzent commented on #489
Ah, cool. I didn't find a solution yet, ended up just leaving the legend out for now.

[2020-02-14 13:41] morijenab opened #492 "ToolTip Customize problem"
Hello
I am trying to customize ToolTip of react chart2. I found this piece of code:

[code]

the problem is when i click on one data node  the code set ShowToolTip but it never changed!
even when i click other sides of charts. the line that i wrote for test console.log('opacity is === 0');
never executed, and all logs are "opacity:1". why when i leave that node the custom tooltip function doesn't

[2020-02-17 06:14] doanja commented on #438
this worked for me, it got rid of the random _meta property that was added to my chart constructor :)

[2020-02-17 10:13] gathanasprot opened #493 "Line is not drawn correctly at the end of the graph"
Line is not drawn correctly at the end of the graph when space between points is wider than a specific width. (I've tried 60px in the example)
[Bug on Firefox Developer Edition](https://imgur.com/fJ1C2TR)
[Bug on Chrome](https://imgur.com/VE27clf)

[2020-02-20 01:16] raevillena commented on #195
I do not think there is well documented way of implementing pan and zoom with react yet. I am currently implementing it and experiencing malfunctions, unlike to the pure js. im not expert in react or whatsoever but i am currently using webpack, imported this repo, zoom plugin and hammer. hammer gets confused with wheel when the page has unfit page (there is scroll up and down). still the plugin wo

[2020-02-20 03:16] raevillena commented on #246
if we are using webpack, does the code at sandbox still equates to it? cause at webpack, there lots of difference even with es6

[2020-02-20 04:01] raevillena opened #496 "Plugin implementation"
Hi, there seem to be no well documented way to implement some plugins with this react fork, some suggests to follow the way chart.js recommends it to but its not that any good, at first after looking at many forums, i thought we will have to access chart object and manually register plugins using `Chart.plugins.register(plugin object)` and configure it with plugins object inside options. looking a

[2020-02-21 05:20] Susmitha-Bogala commented on #464
could you please explain, how to convert chart into base64 format?

[2020-02-21 07:38] singhqwerty6 commented on #464
create a ref and use its instant

On Fri, Feb 21, 2020 at 10:50 AM Susmitha-Bogala <notifications@github.com>
wrote:

[2020-02-24 03:39] raevillena commented on #496
ok so after many testing, either accessing or passing the plugin as prop does pretty much the same,`Chart.pluginService.register` and `Chart.plugins.register` does the same, except that the former is just for legacy users. passing the plugin as prop does the same thing as well, plugins={plugins object}

[2020-02-24 03:39] #496 closed

[2020-02-26 05:45] Susmitha-Bogala commented on #464
i tried to do the same.but getting "toBase64Image is not a function" this error.

[2020-02-26 09:21] charlie2clarke opened #497 "Redraw doesn't work in accordion"
Basically I have my line chart in an accordion and was hoping for the animation to refresh every time the accordion is opened. I have attempted using update(), destroy() then re-rendering as well as redraw - all of these methods have worked for me but not in sync with the accordion. I was wondering if anyone had any ideas or explanation for this?

[2020-02-27 02:58] jacky-ew opened #498 "each labels contains only 1 bar of data"
may i know how to generate a bar chart with each labels contains its own bar of data

eg :
[code]

i want to have 3 bars displaying :
apples -> a bar (10 apples),
orange -> a bar (6 oranges),
pear -> a bar (4 pears)

[2020-02-27 13:55] KhalidOuaz opened #499 "Legend On Click Doesn't work"
Good morning all,

When I try to add the button on Click on the caption, replace the main action and I can't deliver.
Here is a complete test for test -> https://codesandbox.io/s/gallant-archimedes-zqxre
Here is the documentation but trying everything, I really did not succeed in reproducing the default onClick

Thank you in advance for your feedback.

[2020-02-27 14:16] KhalidOuaz commented on #299
Hello
Button continue to be override,
i have a test here but i am still not finding a solution.
Can you help me please
https://codesandbox.io/s/gallant-archimedes-zqxre

[2020-03-01 04:58] nguyenkhoi2806 commented on #149
Your solution is good, but it can't update with dynamic value. it always be override !!!.

[2020-03-04 11:07] KhalidOuaz commented on #499
it is resolved ->
https://codesandbox.io/s/react-chartjs-2-example-chsbw

[2020-03-04 14:27] franciscohanna92 opened #500 "Support legend 'align' position"
Chart.js supports an alignment option for legends.
See https://www.chartjs.org/docs/latest/configuration/legend.html#align.

But this wrapper does not support it.

[2020-03-04 14:37] franciscohanna92 commented on #500
Sorry. This is supported from Chart.js 2.9 and above and I was using 2.8.

[2020-03-04 14:37] #500 closed

[2020-03-10 13:16] SamueleDassatti opened #501 "Wrong time scale spacing when deploying project"
I'm using react-chartjs-2 to display charts with time scales in my app. The charts work as intended when the app is running in a development environment, but as soon as I build it and deploy it to a website the charts distribute evenly their datapoints instead of varying their spacing based on the time difference between them (as intended).

I'm using version 2.9.0 of react-chartjs-2 and version 2

[2020-03-11 06:03] Harika319 opened #502 "doughnut selection on click event should be updated"
import React from "react";
import { Pie, Doughnut } from "react-chartjs-2";
import { Grid } from "react-bootstrap";

const state = {
  labels: ["Home", "Food", "Travel", "LifeStyle"],
  datasets: [
    {
      label: "Rainfall",
      backgroundColor: ["#B21F00", "#C9DE00", "#2FDE00", "#00A6B4"],
      hoverBackgroundColor: ["#501800", "#4B5000", "#175000", "#35014F"],
      data: [65, 59, 80, 81]

[2020-03-11 12:28] simromm commented on #464
Same problem here, I create a ref and use it. But"toBase64Image is not a function"

[2020-03-11 13:03] singhqwerty6 commented on #464
Console log that instant ref and search for ref.chartinstance.base64

On Wed, 11 Mar, 2020, 5:59 PM simromm, <notifications@github.com> wrote:

[2020-03-11 13:19] simromm commented on #464
I already did but nothing founded.
I use also this method => https://github.com/jerairrest/react-chartjs-2#chartjs-instance
to get mychartjs instance.

Then console.log(this.chartReference) when the component is mounted.

![ref](https://user-images.githubusercontent.com/48606574/76420923-2e8c7f00-63a3-11ea-8233-65f795932b74.png)

[2020-03-11 14:03] singhqwerty6 commented on #464
Email me personally. I ll look into it.

On Wed, 11 Mar, 2020, 6:50 PM simromm, <notifications@github.com> wrote:

[2020-03-12 10:54] whizsid opened #503 "Can not use with react-onsenui tabs"
I am using the `Line` chart in a `react-onsenui` tab. I am getting below error when changing the tabs.
[code]

## How to reproduce:-

This is a live demo:- https://codesandbox.io/s/react-typescript-mx2uj

1. Go to the Guide Tab
2. Come back to the Hello Tab.

[2020-03-13 17:54] j18s opened #504 "chartjs"
Hi Team

I am curious why "chart.js": "2.6.0" is not included in **Dependencies** like Lodash and PropTypes. I believe if you add it then we dont have to install it separately. Please let me know.

Thanks

[2020-03-22 17:12] Vitali883 opened #505 "Line chart Legend on top left"
Hi. I have i problem with legend stuff. i want it to be on top left. BUT, i dont know how to do that. I tried everything i can, like: position, align, but nothing works for me. Please, help.

P.S Look at the picture.

![chartIssue](https://user-images.githubusercontent.com/33987786/77255522-ec035600-6c70-11ea-8114-4a609b3e494a.png)

[2020-03-22 17:45] benmccann commented on #480
Chart.js 3.0.0-alpha is now available. Get it with `npm install chart.js@next --save`

* [Release notes](https://github.com/chartjs/Chart.js/releases/tag/v3.0.0-alpha)
* [npm](https://www.npmjs.com/package/chart.js)
* [Migration guide](https://www.chartjs.org/docs/next/getting-started/v3-migration.html)
* [Docs](https://www.chartjs.org/docs/next/)
* [API](https://www.chartjs.org/docs/next/typedoc/

[2020-03-23 03:06] jerairrest commented on #480
Thanks for the heads up Ben!

[2020-03-27 02:21] Acidic9 commented on #300
If anyone else comes across this, in your options you need the following:
[code]

[2020-03-28 09:42] gks66 opened #506 "Is it possible to make tooltip label clickable?"
I have tried to edit the label in tooltips callbacks -> label to include <span onClick={()=> this.handleClick()}></span>, but not working.
It always show [object,object] in view.

Request/Question to make label clickable:
<img width="263" alt="line-chart-tooltip-label-clickable" src="https://user-images.githubusercontent.com/37319481/77820195-5f96de80-711b-11ea-9bb4-e181e10b61e6.png">

[2020-03-28 09:47] gks66 commented on #492
I have the same issue when there are setState in custom, callback->label function.
I am planning to make tooltips allow custom label have a onClick on different label.

[2020-03-28 14:48] Morteza-Jenabzadeh commented on #492
this the way how I handle the problem:
`const [state, setState] = React.useState<IState>({
    top: 0,
    left: 0,
    data: "",
    showTooltip: false,
    node: 0,
    tooltip: undefined
  });

  const showTooltip = (tooltip: ITooltip) => {
    if (tooltip.opacity === 0) {
      setState({
        showTooltip: false,
        tooltip: undefined
      })
    } else {
      setState({
        ...s

[2020-03-31 14:00] gks66 commented on #492
I used the onHover function and customize the point, onHover only close when hover on customize tooltip.
it is some how works now! Thanks

[2020-03-31 15:15] rafaeldalpra opened #507 "Dynamic plugins array"
**Expected behaviour:**
Render plugins dynamically

**Actual behaviour:**
Plugins render at the first render and do not update

**Description**
I'm having an issue with plugins that use `beforeDraw` and are rendered conditionally.

My plugins simply draws a text on the upper-left and (conditionally) on the upper-right corner.

When the chart is first rendered, I display only one of the plugins (up

[2020-04-07 07:51] gathanasprot opened #508 "Line chart on react chart-js disappears in long graphs"
Line disappears about halfway in graphs with great width (above 10000px) and only the data points (dots) remain.
Graph is wrapped around a div with smaller width and overflow:auto so that there is a scrollbar to navigate it.
I haven't found any other way to show graphs with large datasets (may reach above 300 points).
If i don't use this trick, graph works normally but chart is unreadable.

Issue

[2020-04-08 06:46] reinisg commented on #449
Hello,
I have pretty similar issue - 'Uncaught (in promise) TypeError: Cannot read property 'height' of undefined'
My case is different, I'm using WordPress and creating custom [Gutenberg block plugin](https://github.com/zgordon/how-to-gutenberg-plugin) in edit function all works fine, chart is drawing corretly, but when I want to output in save function (which will show in post frontend), i get t

[2020-04-08 14:02] davnicwil commented on #344
Just in case anyone else runs into this, the relevant error was literally on line 1 in OPs error message `pkg-config: command not found`

On macOS, for whatever reason, though I had `pkg-config` installed (`brew install pkg-config` did nothing as it was already installed) the `pkg-config` still wasn't available - even running `pkg-config --version` in the terminal returned this command not found e

[2020-04-08 14:06] davnicwil opened #509 "npm run build appears to be broken after fresh npm install on master"
Fresh clone, on master.

Run `npm i`

Run `npm run build`

Get the following error for `uglify` - `warnings not a supported option`

[code]

[2020-04-08 14:25] davnicwil commented on #509
[Opened a PR](https://github.com/jerairrest/react-chartjs-2/pull/510) that fixes this.

The `warnings` option moved in uglify from `options.compress` to the top level `options` object.

[2020-04-12 23:39] wongJonathan commented on #450
If anyone is still looking for an answer, I was able to solve this by putting the function into a `useCallback` with empty dependencies. Without `useCallback` it doesn't work and I'm not sure why. So if anyone knows a reason that would be great!

[2020-04-18 12:49] nicholasess commented on #507
@rafaeldalpra You can use props *redraw*. https://github.com/jerairrest/react-chartjs-2/blob/master/src/index.js#L61

[2020-04-18 12:52] nicholasess commented on #505
@Vitali883 You can try to seeing the documentation oficial
https://www.chartjs.org/docs/latest/configuration/legend.html

[2020-04-18 12:57] nicholasess commented on #503
@whizsid is error on chartjs, please, open the issue in the project official

[2020-04-18 13:00] nicholasess commented on #498
@jacky-ew if you want to show labels without hover, you can use this lib
https://www.npmjs.com/package/chartjs-plugin-datalabels

[2020-04-19 14:38] benmccann commented on #503
I don't think this is an error from Chart.js. @nicholasess can you explain why you think it is?

[2020-04-19 15:40] nicholasess commented on #503
@benmccann I found the line that execute the **Chart.helpers.configMerge** and Chart was imported from chart.js

https://github.com/jerairrest/react-chartjs-2/blob/master/src/index.js#L190

[2020-04-19 15:43] nicholasess commented on #503
@whizsid @benmccann I solved the problem, just put the redraw={true} in <Line />

https://codesandbox.io/s/react-typescript-6ulgu?file=/src/HelloPage.tsx

o/

[2020-04-19 15:46] whizsid commented on #503
@nicholasess @benmccann Thank You!

[2020-04-19 15:46] #503 closed

[2020-04-19 15:47] nicholasess commented on #497
@charlie2clarke Can you reproduce the problem in codesandbox?

[2020-04-20 14:56] jhonnold commented on #459
Is any progress being made on the 3.0 release? If not I wouldn't mind working through some of these and submitting PRs. Just want to make sure I'm not conflicting with anyone.

[2020-04-22 06:46] PeterHassaballah opened #512 "Tooltip on hover not working"
I am using the doughnut example from the repo but the tootip simply does not appear while hovering over the doughnut sections , I tried clicking aggressive hovering nothing happens and the console does not show any errors .
react-chartjs-2 version: "2.9.0",
"chart.js": "2.9.3",
"react": "16.13.1",
OS: Windows 10,
Chrome Version:81.0.4044.113
I honestly don't know if this repo is maintained or not

[2020-04-22 08:58] vinayaknk commented on #315
Can someone please paste working example.

[2020-04-22 15:47] Nawal00 commented on #201
@jordansoltman any change you could share your solution. I can't get mine to work on my scatter chart having tried everything mentioned.

[2020-04-22 15:49] Nawal00 commented on #201
Contradictory to yours solution, I got mine to work when I have y-axis-1 instead of y-axis-0.

[2020-04-23 10:20] narenkarn786 commented on #134
npm install --save chart.js
This worked for me.

[2020-04-24 14:53] rubenlopezlozoya commented on #450
Could you please be more specific on how you solved it? I have been trying to do so but I keep having the same problem, my tooltip opacity is always 1.

[2020-04-24 21:33] wongJonathan commented on #450
I decided to take it out due to having issues creating my own that looked nice but I found what I used that worked.

[code]

And then I called it in the options:
[code]

From what I remember, not defining the `customTooltip` with a `useCallback ` gave the error where opacity did not change. Hope it helps!

[2020-04-25 08:14] #493 closed

[2020-04-25 18:49] jerairrest commented on #459
Hey!

Thanks for reaching out to me!

Sadly my work life has chewed up a lot of my open source time.

We did have some folks interested, but it's kinda fallen apart.

If you're still interested I can invite you to our slack channel

Jer

On Mon, Apr 20, 2020, 7:56 AM Jay Honnold <notifications@github.com> wrote:

[2020-04-28 10:55] miestassimon commented on #450
Unfortunately, `useCallback` doesn't work for me. But I found another workaround using `setTimeout`.

[code]

But if anybody can explain, why is there a problem, it would be great. I don't have any idea.

[2020-04-30 01:29] jacky-ew opened #514 "Bar chart renders half of the data only"
The bar chart renders only half the data. renders only even number indexed. (0, 2, 4, 6).
Is this a bug ?
Any advice to the problem

[2020-04-30 12:54] jhonnold commented on #514
Can you post an example of the data being passed in so this issue can be recreated?

[2020-05-02 12:14] nathanagez commented on #224
For people still having this issue, here is my solution: https://github.com/moment/moment/issues/4216?fbclid=IwAR0SJsbk863Zgl9YBA4MgLsnkh00yrVbGMYetJglFhFW3mHmM6u-AhWWfYA#issuecomment-622941952

[2020-05-05 12:31] zole40 commented on #438
I found the same problem when I used the Stacked Bar chart.

[2020-05-08 06:09] Tanmay-jana opened #515 "How can I make my Line graph scrollable on y-axis?"
The following are the state
data: {
      labels: [],
      datasets: [
        {
          label: "Accuracy",
          // yAxisID: "Accuracy",
          fill: false,
          lineTension: 0.1,
          backgroundColor: "rgba(75,192,192,0.4)",
          borderColor: "rgba(75,192,192,1)",
          borderCapStyle: "butt",
          borderDash: [],
          borderDashOffset: 0.0,
          borde

[2020-05-09 07:50] jahidmomin commented on #150
Its also work for me

[2020-05-09 17:15] zackster commented on #90
@bmakan Thank you, was extremely helpful for me to get it working.

In my functional component, I declare

`const myChart = createRef();`

Then I return

[code]

And inside my websocket I do:

`myChart.current.chartInstance.data.datasets[0].data.push({ x: Date.now(), y: dataPoint });`

[2020-05-12 11:16] vidukapoor commented on #340
Hi @nakamn, try like this.

`legend: {
    align: 'end' as 'end'
  }`

[2020-05-13 14:38] Saroopashree opened #516 "Is there any way to change the space taken by the legends in a chart ?"
![Pie](https://user-images.githubusercontent.com/47754198/81826514-7ec7bf00-9555-11ea-9a57-40072a69e85d.png)

[2020-05-14 13:09] zeroxthegrim opened #517 "How to change grid color?"
Graphs by default have grey colored grid. How do I change it?

[2020-05-17 04:26] DPK101 commented on #155
@rajatchugh2431 Are you able to get the test coverage of highlighted lines from your 'draw' function?

[2020-05-17 05:56] RichStone commented on #247
still getting the same error with the updated code..
`Unhandled Rejection (TypeError): labels.slice is not a function`

[2020-05-19 18:18] amir04lm26 commented on #514
I had the same issue but I managed to fix it with this option:
options={{ maintainAspectRatio: false }}

e.g.
`<Line data={this.state} options={{ maintainAspectRatio: false }} />;`

[2020-05-20 17:26] donaldrshade commented on #517
@zeroxthegrim Check out /Repo/react-chartjs-2/index.d.ts
I would search in this file for grid. I was looking for grid ticking and I think I saw something about color.

[2020-05-20 21:34] C-reddd opened #518 "Grouped and Stacked Bar Graph"
Hello,

I am currently trying created a "Stacked-Grouped" Bar graph. I am able to do so but when I try to have two different Datasets with the same "label" but different "Stacks", they're associating both Datasets together.

For example:
`datasets: [
      {
        label: 'Connor',
        backgroundColor: 'red',
        data: [20, 10, 30, 50],
        stack: 1
      },
      {
        label: 'Co

[2020-05-21 16:08] krip4ik opened #519 "borderWidth&borderColor do not affect the component when adding it to datasets object but it works fine with chart-js."
import React from 'react';
import PropTypes from 'prop-types';
import { HorizontalBar } from 'react-chartjs-2';
import { StyledHorizontalBarChart } from './HorizontalBarChart.style';

const HorizontalBarChart = ({ children, debugId }) => {
  const data = {
    labels: ['Label 1', 'Label 2'],
    datasets: [
      {
        backgroundColor: 'red',
        borderCapStyle: 'butt',
        borderDash:

[2020-05-23 23:00] Adam-Crockett opened #520 "Updating Line Chart data animation not working"
I have a line chart that changes the current viewed dataset on a button click. My issue is that the chart will not use the animation that slides the data points on the line chart to the new position, it will use the animation as if just rendered for the first time. I am new to using Typescript and React and am unable to figure out exactly what is causing this to happen, but I believe I have it nar

[2020-05-24 10:49] andninja opened #521 "DoughNut Chart - Thinner and custom hover text"
I want to make my doughnut thinner and also want to make the hover text custom , but not able to do it with the current properties.
Can anyone please help me with the issue ?
![douhhnut_thinner](https://user-images.githubusercontent.com/24822407/82752223-28bb0d00-9dda-11ea-8cf2-fc63dbe7ce58.png)

My doughnut looks like the upper one and I want to make it thinner like the below one.
Thanks

[2020-05-25 15:58] jamaldine commented on #61
hello, simply you add this in options:
<Pie
        data={state}
        width={10}
        height={5}
        options={{maintainAspectRatio: false}}
/>

[2020-05-26 09:04] oliverox commented on #466
It looks like a required prop isn't being passed down to the ChartComponent.
As a temporary fix, you can pass the following prop to you component:

[code]

[2020-05-26 10:00] Venryx commented on #504
I think it's so that you have flexibility of choosing the exact version of chart.js to use -- for example, if you have chartjs plugins that require a certain version.

[2020-05-26 17:05] smootoo commented on #518
I think this part of the readme addresses your question
https://github.com/jerairrest/react-chartjs-2#working-with-multiple-datasets

[2020-05-26 17:53] HidemitsuHashimoto opened #522 "Top label with 2 datasets"
How can i use 2 lines but show only one label in the top?

![image](https://user-images.githubusercontent.com/37240367/82933623-95601400-9f60-11ea-8118-165e06cad01b.png)

[2020-05-27 17:49] geantvert67 opened #523 "chart not updating"
Hi,

I'm trying to retrieve data from an API and then display it as a graph. However when I want to view the data I only have 2 points on the x-axis one on 0 and the other on the maximum of the x-axis with a value for y 0. The only way to see the graph is that I have to reduce the size of the window for the curve to appear. Is there a solution to this?

I thank you in advance for any help you may

[2020-05-28 18:46] tervay opened #524 "TypeError: Cannot assign to read only property ... - Editing datasets with Redux"
I'm a novice at React & Redux, so excuse me if there is an easy solution to this - I'm not able to find one currently.

[I'm utilizing `react-chartjs-2` with Redux](https://github.com/tervay/recalc) to create some charts with dynamic data based on `<input>`s. The core of the chart code can be reduced down to:

`slice.js`:

[code]

`Flywheel.js`:
[code]

I'm finding a very odd issue where updating

[2020-06-01 15:00] 5935512036 commented on #61
how to i can hidden line table in background

[2020-06-01 20:49] stardev24 opened #525 "onclick function on x-axis labels and draw underline for x-axis labels."
Team,
As per my requirement I have to create a onclick function for x-axis labels and get label data inside function. Also draw underline for each of the x-axis labels.

How can I achieve this

[2020-06-04 13:15] Ahmad-AlShalabi commented on #516
Yes, there is, you can change the box size of it  and the padding between the legends:
 `var chartLegend = {`
     ` labels: {`
      `  boxWidth: 15,`
     `   padding: 10,   },  }; `
`  <Pie legend={chartLegend} data={chartData}></Pie>`

[2020-06-04 13:55] fabienpinel commented on #247
I had this error when trying the example code but in my code I keep having `TypeError: Cannot read property 'options' of undefined
    at ChartElement.initialize (Chart.js:4798)`

Really annoying that this whole Mixed Graph is not well documented. Anyone having the same issue ?

[2020-06-07 16:32] zahraHaghi opened #527 "Circle legend"
Hi. I am using line chart. How can I have circle legend?

[2020-06-10 08:47] marano commented on #90
@francisngo

No it isn't, using `redraw` for me didn't work properly when the graph height had changed.

[2020-06-15 12:28] silvercondor commented on #107
any idea how to implement the chart.resetZoom() method from the plugin?

[2020-06-15 13:17] silvercondor commented on #107
Answering my own question, hope it helps someone out there.
Basically you need to create a ref inside the chart object and call the resetZoom from the ref.chartInstance
you can use the local state or a let variable, doesn't really matter

[code]

[2020-06-15 13:31] blarcmann commented on #61
@5935512036

`scales: {
                    xAxes: [{
                      gridLines: {
                        display: false
                      }
                    }],
                    yAxes: [{
                      gridLines: {
                        display: false
                      }
                    }]
                  }`

[2020-06-17 05:06] Veda-cmd opened #528 "React-chartjs-2 update height dynamically"
I am using react-chartjs-2 library. I have used HorizantalBar which will receive data through props dynamically from parent component. I have wrapped HorizantalBar inside a div to control its height according to data. The height is getting updated in div but not in chart unless the browser is refreshed/resized. I inspected and checked the element. The height of canvas element of chart is not getti

[2020-06-17 06:01] Veda-cmd commented on #287
I have wrapped the chart inside a div and applied style. But the height of canvas takes too long to update in DOM. I am trying to set height dynamically according to data. But when new data comes, the wrapper height changes but it not reflected in canvas. Can anyone please suggest on this?

[2020-06-17 17:35] pstephenwille opened #529 "Continued support timeline"
First I want to thank the maintainers for the work and contributing to OSS.  Having said that, I just discovered this library and plan on using it but I'm concerned about its longevity, especially since it's need of active maintainers.  We're using the latest React and am wondering what how long it will continue to be maintained and remain compatible.

[2020-06-18 14:52] ederfleming commented on #201
Can I use a plugin to make a waterfall chart? like this: https://github.com/everestate/chartjs-plugin-waterfall
I am already losing my mind for not being able to create this type of chat.

[2020-06-19 05:53] vijaybaskar17 opened #530 "Tooltip chart-2 tooltip"
I need tooltip to be enabled by default...
![Screenshot from 2020-06-19 11-20-35](https://user-images.githubusercontent.com/38319854/85101096-3d46c580-b21f-11ea-8098-4ef752e1d6dc.png)

[2020-06-19 23:57] juliangsibecas opened #531 "Chart resizing"
Hi! I'm having troubles with chart's resizing when parents size changes. When I toggle the sidebar the chart doesn't resize.

![image](https://user-images.githubusercontent.com/25715495/85186302-9e49ba00-b26e-11ea-9d91-df32cf3a2f2b.png)
![image](https://user-images.githubusercontent.com/25715495/85186314-ab66a900-b26e-11ea-8ecb-20a4a6b11757.png)